<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div id="mgpmsad01Full" class="page-content">


    

<div class="demo-flex-display oj-flex-items-pad">
  
  <div class="oj-flex oj-sm-flex-items-initial   oj-sm-justify-content-center">
    <div class="oj-flex-item">
     
 <div id="form-container">       
     
      
  <div style="display:none" id="modalDialog1" title="Update Status" 
       data-bind="ojComponent:{component: 'ojDialog',  }">
     <div class="oj-dialog-body">
    
         
         <div class="oj-form-layout">

    <div class="oj-form oj-sm-odd-cols-120 oj-md-odd-cols-6 oj-md-labels-inline
                oj-form-cols-labels-inline oj-form-cols-max4"    >
      <div class="oj-flex">
        <div class="oj-flex-item">
          <label for="inputcontrol">Termination Reasons</label>
        </div>
        <div class="oj-flex-item">
          <input id="inputcontrol"
                 data-bind="ojComponent: {component: 'ojInputText', 
                                          value:'text', required: true}">
        </div>
      </div>
      <div class="oj-flex">
        <div class="oj-flex-item">
          <label for="textareacontrol">Termination Comments </label>
        </div>
        <div class="oj-flex-item">
          <textarea id="textareacontrol" rows="6"
                    data-bind="ojComponent: {component: 'ojTextArea', 
                                             value: 'text',}"></textarea>
        </div>
      </div>
     
 
        
    </div>
         </div>
         
         
     </div>
     <div class="oj-dialog-footer">
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'Submit'}"> </button>
          <button id="canelButton" data-bind="ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
      </div>
  </div>
     
     
  <button id="buttonOpener" class="diaOpener"  data-bind="ojComponent: {component: 'ojButton', label: 'Open Modal Dialog'}"></button>

  
  

     
        
        Counter Party   <input id="partycombobox" list="msadparty"  title="Counter Party" 
           data-bind="ojComponent: {component: 'ojCombobox',  value : partyVal , selected : partyVal , 
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadparty">
		<option value="MY">Malaysia bank</option>
		<option value="IN">Indian Bank</option>
		<option value="SIN">Singapore Bank</option>
		<option value="ST">Standard Chartered</option>
 
	</datalist>
        
        Counter Party Group : <label data-bind="text: partyGrpVal() , width: '100px'" ></label>
        
        Product   <input id="prdcombobox" list="msadprd"  title="" 
           data-bind="ojComponent: {component: 'ojCombobox',  
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadprd">
		<option value="MY">MGP SRP</option>
		<option value="IN">MGP RI</option>	 
		<option value="ST">MGP TT</option>
 
	</datalist>
    </div>
    <div id="train-container"   >
	<div id="mgpTrain" class="oj-train-stretch" style=" min-width:400px; margin-left:auto;margin-right:auto;"
	  data-bind="ojComponent:{
		component: 'ojTrain', 
		selected: currentStepValue, 
		steps: stepArray}"></div>
	<br/>
	<h3 id="currentStepText"
		data-bind="text: 'You are on ' + currentStepValueText()" 
		style="text-align: center">
	</h3>
	<br/>
</div>
    
    </div>
  </div>
  <div class="oj-flex oj-sm-flex-items-initial 
              oj-sm-only-justify-content-center oj-md-only-justify-content-center" >
    <div class="oj-flex-item">


    
    </div>
  </div>
    
    
    
    
    
  <div data-bind="visible : getNodeVisible(2) || getNodeVisible(3) "  class="oj-flex oj-sm-flex-items-initial   oj-sm-justify-content-center">
    <div class="oj-flex-item">
     
      MGP Contract No  <input id="mgpctrNocom" list="msadctrno"  title="Months" 
           data-bind="ojComponent: {component: 'ojCombobox', 
                                      
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadctrno">
		<option value="123123">12313</option>
		<option value="12313">123123</option>
		<option value="123123123">12313</option>
		<option value="12313213">12313132</option>
		<option value="4534535">3453453453</option>
	</datalist>
       Month   <input id="mnthcombobox" list="msadmonths"  title="Months" 
           data-bind="ojComponent: {component: 'ojCombobox', 
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadmonths">
		<option value="Jan">Jan</option>
		<option value="Feb">Feb</option>
		<option value="March">March</option>
		<option value="April">April</option>
		<option value="May">May</option>
	</datalist>
           
              Year    <input id="yrscombobox" list="msadyrs"  title="Months" 
           data-bind="ojComponent: {component: 'ojCombobox', 
                                        
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadyrs">
		<option value="2011">2011</option>
		<option value="2012">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
	</datalist>
    
     <button id="changeLabel" 
      data-bind="ojComponent: {
        component: 'ojButton',  
        label: 'Search'}"></button>
     
    </div>
  </div>
    
    
    
  <div data-bind="visible : getNodeVisible(1) || getNodeVisible(3)  "  class="oj-flex oj-sm-flex-items-initial 
              oj-lg-justify-content-center" >
    <div class="oj-flex-item" >
        <span  data-bind="visible : getNodeVisible(1) " >
       <input  type="file"/>
       
             <button  id="flUpload"  
                
                data-bind="click: doUpload, ojComponent:{component:'ojButton', label: 'Upload'}"    ></button>
     
       
      <button id="changeLabel" 
      data-bind="click: sendNotification,  ojComponent: {
        component: 'ojButton',  
        label: 'Send Notification'}"></button>
        
       <button  id="changeLabel2"  
                
                data-bind="click: doUpload, ojComponent:{component:'ojButton', label: 'Validate Asset'}"    ></button>
        </span>
        
        <br>
        
       
          <div id="radioSetId"   
               aria-labelledby="radiosetlabel"
               data-bind="ojComponent: {
                 component: 'ojRadioset'}">
            <span class="oj-choice-row-inline">
              <input id="blueopt" type="radio" name="rbb" 
                     value="D">
              <label for="blueopt">Fully Disbursed Asset</label>
            </span>
              
                  <span class="oj-choice-row-inline">
              <input id="bluet" type="radio" name="rbb" 
                     value="C">
              <label for="bluet">Closed Asset</label>
            </span>
              
                  <span class="oj-choice-row-inline">
              <input id="bwwt" type="radio" name="rbb" 
                     value="V">
              <label for="blueopt">Validated Asset</label>
            </span>
              
              
            <span class="oj-choice-row-inline">
              <input id="greenopt" type="radio" name="rbb" 
                     value="F">
              <label for="greenopt">Failed Asset</label>
            </span>
            <span class="oj-choice-row-inline">
              <input id="redopt" type="radio" name="rbb" 
                     value="A" checked>
              <label for="redopt">All Asset</label>
            </span>
       
      </div>
        
        
    </div>
  </div>
    
    
    
    
    <div class="oj-panel oj-margin demo-mypanel"  data-bind="visible : getNodeVisible(1)">
 
        <h3 class="oj-header-border">Servicing Details
         <button id="ff" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Export'}"></button>
            
              <button id="tprint" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Print'}"></button>
        
        </h3>
        <div>
       
 

 
                
            <div id="msad01Rg" class="page-content"  >
            
        <table id="msad01Tbl" summary=" MSAD Upload File" aria-label="MSAD Upload File"
           data-bind="ojComponent: {component: 'ojTable', data: msad01DS, columns:
            [
        
   { headerText: 'S No'  ,  field: 'srlNo'}, 
{ headerText: 'Loan Applicaion No'  ,  field: 'loanAppRefNum'}, 
{ headerText: 'Loan Referance No'  ,  field: 'loanRefNo'}, 
{ headerText: 'Purchase Contract No'  ,  field: 'contractNo'}, 
{ headerText: 'Loan Approve Date ' , field: 'loanApprovDate'}, 
{ headerText: 'Approved Amount'  ,  field: 'apprvAmt'}, 
{ headerText: 'Fully Disbursed'  ,  field: 'fullyDibs'}, 
{ headerText: 'Fully Disbursed Date'  ,  field: 'fullyDibsDate'}, 
{ headerText: 'BLR %'  ,  field: 'blr'}, 
{ headerText: 'Interate Rate'  ,  field: 'intRate'}, 
{ headerText: 'Rate Effective date'  ,  field: 'intRateEffDate'}, 
{ headerText: 'AAAAA'  ,  field: 'schMtlyIns'}, 
{ headerText: 'Report Date'  ,  field: 'reportDate'}, 
{ headerText: 'Month'  ,  field: 'reportMonth'}, 
{ headerText: 'Year'  ,  field: 'reportYear'}, 
{ headerText: 'Last Outstanding Capital'  ,  field: 'lastOutstdCapAmt'}, 
{ headerText: 'Total Amount Due'  ,  field: 'totAmtDueOblr'}, 
{ headerText: 'Total Amount Paid'  ,  field: 'totAmtPaidOblr'},  
{ headerText: 'Current Outstanding Amount'  ,  field: 'curOutstdCapAmt'}, 
{ headerText: 'Arear Months'  ,  field: 'monArrears'}, 
{ headerText: 'Total Arear Amount'  ,  field: 'totAmtArrears'}, 
{ headerText: 'Proection Terminated'  ,  field: 'protectionTerminated'}, 
{ headerText: 'Terminated Reason'  ,  field: 'terminatedReason'}, 
{ headerText: 'Terminated Remarks'  ,  field: 'terminatedRmks'}, 
{ headerText: 'Validate Flag'  ,  field: 'validateFlg'}, 
{ headerText: 'Validate Reason'  ,  field: 'validateReason'} 
         ],                                  
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="msad01Pg" data-bind="ojComponent: {component: 'ojPagingControl', data: msad01DS, pageSize: 15}">
    </div>
</div>
    
            
            
      </div>
    </div>
    
    
    
    <div class="oj-panel oj-margin demo-mypanel"   data-bind="visible : getNodeVisible(2)">
 
        <h3 class="oj-header-border">Update Status  
        
         <button id="ff" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Export'}"></button>
            
              <button id="tprint" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Print'}"></button>
        </h3>
        <div>
       

                
            <div id="msad01StatusRg" class="page-content"  >
            
        <table id="msad01StatusTbl" summary=" MSAD Summary" aria-label="MSAD Summary"
           data-bind="ojComponent: {component: 'ojTable', data: msad01StatusDS, columns:
            [             {headerText: 'Loan reference No', field: 'loanRefNo',style: 'width: 15%'},
              
            {headerText: 'Month', field: 'reportMonth',style: 'width: 10%'},
             {headerText: 'Year', field: 'reportYear'},
             {headerText: 'Termination Reason', field: 'terminatedReason'},
             {headerText: 'Comments', field: 'terminatedRmks'},
              ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="msad01StatusPg" data-bind="ojComponent: {component: 'ojPagingControl', data: msad01StatusDS, pageSize: 15}">
    </div>
            </div>

        </div>
        
    </div>
    
    <div class="oj-panel oj-margin demo-mypanel"   data-bind="visible : getNodeVisible(3)">
 
        <div  class="oj-header-border">
        <h3>Summary
            <button id="ff" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Export'}"></button>
            
              <button id="tprint" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Print'}"></button>
         </h3>
      
       
            <div id="msad01SumRg" class="page-content"  >
            
        <table id="msad01SumTbl" summary=" MSAD Summary" aria-label="MSAD Summary"
           data-bind="ojComponent: {component: 'ojTable', data: msad01SumDS, columns:
            [
       {headerTemplate: 'oracle_action_hdr', template: 'oracle_action', style: 'width: 10%;text-align:center;'},  
                   {headerText: 'S No', field: 'srlNo',style: 'width: 10%'},

             {headerText: 'Loan reference No', field: 'loanRefNo',style: 'width: 15%'},
             {headerText: 'Contract No', field: 'contractNo',style: 'width: 15%'},
            {headerText: 'Loan Approval Date', field: 'loanApprovDate',style: 'width: 10%'},
             {headerText: 'Approved Amount', field: 'apprvAmt'},
             {headerText: 'Fully Disbursed', field: 'fullyDibs'},
             {headerText: 'Fully Disbursed date', field: 'fullyDibsDate'},
                     
             {headerText: 'Interest Rate', field: 'intRate'}
        ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
                
    <div id="msad01SumPg" data-bind="ojComponent: {component: 'ojPagingControl', data: msad01SumDS, pageSize: 15}">
    </div>
   
</div>
            
            
      </div>
    </div>
    
    
  <script type="text/html" id="oracle_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="oracle_action">
    <td> 
        
     
           <input name="ddd" id="sdsd" value="Sdsds"  type="checkbox">  </input>
    </td>
</script> 

</div>
</div>
