<div>
  <h1>All Movies</h1>

  <table id="table"
                                                           summary="Demo Table"
                                                           data-bind="ojComponent: {component:'ojTable',
                                 data: dataSource,
                                 columnsDefault: {sortable: 'enabled'},
                                 columns: [{headerText: 'Product Group Code',  field: 'prodGrpCd'},
                                           {headerText: 'Product Group Name',     field: 'prodGrpName'},
                                           {headerText: 'Product Group Description', field: 'prodGrpDesc'},
                                           {headerText: 'Active',  field: 'active'},
                                           {headerText: 'Effective Date',  field: 'effectiveDate'}],
                                            rowTemplate: 'row_template'}">
                                                    </table>
  <div>
    <br>
    <button data-bind="click: addMovie, ojComponent: {component: 'ojButton', label: 'Add New Movie'}"></button>
  </div>
</div>

<script type="text/html" id="row_template">
  <tr>
    <!-- The $data check is for when the field doesn't exists. If no value has been specified for a field then the web service might exclude that field from the reponse. -->
    <td data-bind="text: $data.prodGrpCd       ? prodGrpCd : ''"></td>
    <td data-bind="text: $data.prodGrpName    ? prodGrpName    : ''"></td>
    <td data-bind="text: $data.prodGrpDesc ? prodGrpDesc : ''"></td>
    <td data-bind="text: $data.active == 'Y'       ? 'Active'       : 'Deactive'"></td>
    <td data-bind="text: $data.effectiveDate       ? effectiveDate       : ''"></td>
    <!--<td data-bind="text: $data.lastUpdateDate       ? lastUpdateDate       : ''"></td>-->
    <!--<td data-bind="text: $data.lastUpdateBy       ? lastUpdateBy       : ''"></td>-->
  </tr>
</script>