<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>    
  <div class="page-content oj-flex">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-6 oj-lg-even-cols-6 oj-lg-labels-inline">   
        <div class="oj-flex">
            <div class="oj-flex-item">
               <label for="A1control">Date</label>
            </div>
            <div class="oj-flex-item">
              <input id="A1control" 
                  data-bind="ojComponent: {component: 'ojInputDate',value:dateValue, disabled:true}">
            </div>
         </div>
                 <div class="oj-flex">
            <div class="oj-flex-item">
               <label for="A1control">MGP Contract Number</label>
            </div>
            <div class="oj-flex-item">
              <input id="A1control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: '130/MGPFI/012017/001'}">
            </div>
         </div>
    </div>
        </div>
         <div class="oj-flex-item">             
        </div>
         <div class="oj-flex-item">             
          <!-- You need to set the aria-labelledby attribute to make 
          this accessible. -->
          <div data-bind="ojComponent: {component: 'ojRadioset', value : currentStatus}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_gr" type="radio" 
                         value="gr" name="status">
                  <label for="rbtn_gr">Guarantee Refund</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_gf" type="radio" 
                         value="gf" name="status">
                  <label for="rbtn_gf">Guarantee Fee</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_sf" type="radio" 
                         value="sf" name="status">
                  <label for="rbtn_sf">Settlement Fee</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_lpf" type="radio" 
                         value="lpf" name="status">
                  <label for="rbtn_lpf">Late Payment Fee</label>
              </span>
          </div>

          </div>
                             <div class="oj-flex-item">             
      <button id= "btn_search" data-bind="click : onSearchClick, ojComponent: { component: 'ojButton', label: 'Search' }"></button>    

    </div>

    </div>

<div class="page-content">
    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: datasource, columns:
            [
            {headerTemplate: 'view_action_hdr', template: 'view_action'},            
            {headerText: 'Contract Number', field: 'ContractNumber'},
            {headerText: 'Payment Due Date', field: 'PaymentDueDate'},
            {headerText: 'Payment Fee', field: 'PaymentFee'},
            {headerTemplate: 'view_action_hdr_payment_date', template: 'view_action_payment_date'},            
            {headerText: 'Status', field: 'Status', sortProperty: 'Status'}
            ],
            scrollPolicy: 'loadMoreOnScroll',
            scrollPolicyOptions: {'fetchSize': 10}, 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>

</div>                                                      
                                                        
<div style="clear:both;"></div>
<div class="oj-flex page-content" style="margin-top:20px;">                      
    <div class="oj-flex-item">
            <button id= "btn_search" data-bind="click : onConfirm2Click, ojComponent: { component: 'ojButton', label: 'Confirm Payment' }"></button>    
        </div>
         <div class="oj-flex-item">   
         <div class="oj-flex">
            <div class="oj-flex-item">
               <label for="A1control">Payment Paid</label>
            </div>
            <div class="oj-flex-item">
              <input id="A1control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: '1234', disabled:true}">
            </div>
         </div>
        </div>
         <div class="oj-flex-item">                       
        <div class="oj-flex">
            <div class="oj-flex-item">
               <label for="A1control">Payment Pending</label>
            </div>
            <div class="oj-flex-item">
              <input id="A1control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: '1234', disabled:true}">
            </div>
         </div>
          </div>
          </div>
<hr/>
<div class="oj-flex page-content">                      
    <div class="oj-flex-item">
        <button id= "btn_search" data-bind="click : onExportClick, ojComponent: { component: 'ojButton', label: 'Export' }"></button>
        <button id= "btn_search" data-bind="click : onPrintClick, ojComponent: { component: 'ojButton', label: 'Print' }"></button>
    </div>
</div>
<script type="text/html" id="view_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="view_action">
    <td>
<div id="checkboxSetAgreeId" aria-labelledby="agreeId" 
           data-bind=
           "ojComponent: {component: 'ojCheckboxset', 
            value: selected}" >
        <span class="oj-choice-row">
          <input id="selected" type="checkbox" value=selected>
        </span>
      </div>    </td>
</script>


<script type="text/html" id="view_action_hdr_payment_date">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Payment Date
    </th>
</script>
<script type="text/html" id="view_action_payment_date">
    <td>
         <input id="paymentDateControl" 
                       data-bind="ojComponent: {component: 'ojInputDate',value:PaymentDate}">
    </td>
</script>