<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div class="oj-form-layout page-content" id="form-container">

    <h3 class="oj-header-border">Purchase Contract Specific COF</h3>
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-2 oj-lg-even-cols-10 oj-lg-labels-inline">   
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A4control">Counterparty Name</label>
          </div>
          <div class="oj-flex-item">
          <input id="A4control" placeholder=""
               data-bind="ojComponent: {
                component: 'ojInputSearch',
                options: cp}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A5control">Purchase Contract Number</label>
          </div>
          <div class="oj-flex-item">
          <input id="A5control" placeholder=""
               data-bind="ojComponent: {
                component: 'ojInputSearch',
                options: pc}">
                
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
          </div>
          <div class="oj-flex-item">
            <button  id= "btn_search" data-bind="ojComponent: { component: 'ojButton', label: 'Search' }"></button>
            <button  id= "btn_reset" data-bind="ojComponent: { component: 'ojButton', label: 'Reset' }"></button>
    </div>
        </div>
        </div>
    </div>                               
  </div>
 <div class="oj-flex">
          <div class="oj-flex-item">

          <button  id= "btn_1" data-bind="ojComponent: { component: 'ojButton', label: 'Upload' }">
    </button>
          <button  id= "btn_2" data-bind="click: redirectToPC, ojComponent: { component: 'ojButton', label: 'Save' }">
    </button>
          <button  id= "btn_3" data-bind="ojComponent: { component: 'ojButton', label: 'Cancel' }">
    </button>
          </div>      
    </div>
    <div id="pagingControlDemo" >

    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [
            {headerTemplate: 'cp_hdr', field:'cp', style: 'width: 15%;text-align:center;'},
            {headerTemplate: 'pcnum_hdr', field: 'pc', style: 'width: 18%;text-align:center;'},
            {headerText: 'Date', field: 'date'},
            {headerTemplate: 'type_hdr', field:'type',style: 'width: 8%;text-align:center;'},
            {headerTemplate: 'benchmark_hdr', field: 'bch'},
            {headerTemplate: 'benchmark_source_hdr', field: 'bchsrc'},
            {headerTemplate: 'benchmark_rate_hdr', field: ''},
            {headerTemplate: 'spread_hdr', field: ''},
            {headerTemplate: 'Final_COF_hdr', template: 'Final_COF_item'},
            {headerTemplate: 'status_hdr', field: 'status'},
            {headerTemplate: 'remarks_hdr', template: 'remarks_item'}
            ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
</div>

<script type="text/html" id="cp_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Counterparty
    </th>
</script>
<script type="text/html" id="cp_item">
    <td >
     <input id="A4control"
               data-bind="ojComponent: {
                component: 'ojInputText',
                value: cp.value}"/>
    </td>
</script>

<script type="text/html" id="pcnum_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Purchase Contract Number
    </th>
</script>
<script type="text/html" id="pcnum_item">
    <td >
         <input id="A4control"  style="border-width:1px;width:70%"
                   data-bind="ojComponent: {component: 'ojInputText', value:pc}"/>
    </td>
</script>

<script type="text/html" id="type_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Type
    </th>
</script>
<script type="text/html" id="type_item">
    <td>
        <input id="C1control" style="border:1px solid #dfe4e7 !important; "
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : rateType,
                                    rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>

<script type="text/html" id="benchmark_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Benchmark
    </th>
</script>
<script type="text/html" id="benchmark_item">
    <td>
        <input id="C1control" style="border:1px solid #dfe4e7 !important; "
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select',
                                    rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>

<script type="text/html" id="benchmark_source_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Benchmark Source
    </th>
</script>
<script type="text/html" id="benchmark_source_item">
    <td>
        <input id="C1control" style="border:1px solid #dfe4e7 !important; "
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select',
                                    rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>

<script type="text/html" id="tenure_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Tenure
    </th>
</script>
<script type="text/html" id="tenure_item">
    <td>
        <input id="C1control" style="border:1px solid #dfe4e7 !important; "
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select',  options: tenure,
                                    rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>


<script type="text/html" id="benchmark_rate_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Benchmark Rate
    </th>
</script>
<script type="text/html" id="benchmark_rate_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'', required: false}">
    </td>
</script>

<script type="text/html" id="spread_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Spread
    </th>
</script>
<script type="text/html" id="spread_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'', required: false}">
    </td>
</script>

<script type="text/html" id="Final_COF_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Final COF
    </th>
</script>
<script type="text/html" id="Final_COF_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:cof, required: false}">
    </td>
</script>


<script type="text/html" id="status_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Status
    </th>
</script>
<script type="text/html" id="status_item">
    <td>
            <label>Approved</label>    </td>
</script>

<script type="text/html" id="remarks_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Remarks
    </th>
</script>
<script type="text/html" id="remarks_item">
    <td></td>
</script>
