<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
        
<div id="tabs-container">
  <div id="tabs" data-bind="ojComponent:{component: 'ojTabs'}" class=" page-content">
    <!-- tab bar -->
    <ul>
      <li><span>Rate 1</span></li>
      <li><span>Rate 2</span></li>
      <li><span>Rate 3</span></li>
    </ul>

    <!-- tab contents -->
    <div id="tabs-1" >
<div class="oj-form-layout" id="form-container">
    <div class="oj-flex"> 
      <div class="oj-flex-item">
            <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Select' }">
            </button>
                </div>
    </div>
  <div class="oj-form oj-md-labels-inline oj-md-labels-nowrap oj-form-no-dividers oj-lg-form-across
               oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-lg-odd-cols-5 oj-lg-even-cols-5">  
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-even-cols-7 oj-lg-labels-inline">   
         <div class="oj-flex">
            <div class="oj-flex-item">
                <div class="oj-label oj-component oj-combobox-label">
                    <div class="oj-label-group">
                        <label for="select">Tenure</label>
                    </div>
                </div>
            </div>
            <div class="oj-flex-item">
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', disabled:disabledForm, value: tenureYear, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Years 
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', disabled:disabledForm, value: tenureMonth, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Months
            </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B5control">Payment Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedPaymentType, disabled:disabledForm, options: paymentType, optionChange: paymentTypeOptionChangedHandler, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedRateType, disabled:disabledForm, options : rateType, required:true, optionChange: rateTypeOptionChangedHandler}">
          </div>
        </div>
        <div class="oj-flex convertible" style="display:none;"> 
          <div class="oj-flex-item">
            <label for="B6control">Initiate Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedInitiateRateType, disabled:disabledForm, options : rateType, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
          </div>
          <div class="oj-flex-item">
          <div class='oj-flex-bar-middle'>                 
          <!-- You need to set the aria-labelledby attribute to make 
          this accessible. -->
          <div data-bind="ojComponent: {component: 'ojRadioset', disabled:disabledForm, value: fixedRate}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_p" type="radio" 
                         value="P" name="fixedrateoptions">
                  <label for="rbtn_p">Published Rate</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_cp" type="radio" 
                         value="CP" name="fixedrateoptions">
                  <label for="rbtn_cp">Cost Plus Rate</label>
              </span>
          </div>
        </div>
          </div>
        </div>
        <div class="oj-flex convertible" style="display:none;"> 
        <p>* Conversion Date</p>
        </div>
        <div class="oj-flex convertible" style="display:none;"> 
         <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', disabled:disabledForm, label: 'Add' }">
            </button>
             <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', disabled:disabledForm, label: 'Delete' }">
            </button>
            <table id="table"
                data-bind="ojComponent: {component: 'ojTable', 
                        data: datasource, 
                        columns: [
                        {headerTemplate: 'col_select_hdr', template: 'col_select_item', style:'width: 20%;'},
                        {headerTemplate: 'date_hdr', template: 'date_item'},
                        ],
                                  rootAttributes: {'style':'width: 100%;'}}">
            </table>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            </div>
        </div>
        <div class="oj-flex benchmark"  style="display:none;"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', disabled:disabledForm, value:selectedBenchmark, options : Benchmark}">
          </div>
        </div>
        <div class="oj-flex benchmark"  style="display:none;"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark Source</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', disabled:disabledForm, value:selectedBenchmarkSource, options : BenchmarkSource}">
          </div>
        </div>
    </div>
    </div>                               
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-5 oj-lg-odd-cols-6 oj-lg-even-cols-6  oj-lg-labels-inline"> 
        <div class="oj-flex" > 
          <div class="oj-flex-item">
            <label for="B2control">Cost of Funds</label>
          </div>
          <div class="oj-flex-item">
              <input id="B2control"  disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value: cofValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B4control">PWR Pricing Matrix Minimum Margin</label>
          </div>
          <div class="oj-flex-item">
              <input id="B4control" disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value:pwrMarginValue}">
          </div>
        </div>
        
        
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B7control">PWR Pricing Matrix Wave/Reduction</label>
          </div>
          <div class="oj-flex-item">
            <input id="B7control"
                   data-bind="ojComponent: {component: 'ojInputText', disabled:disabledForm, value:'0'}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B8control">Wave/Reduction Rationale</label>
          </div>
          <div class="oj-flex-item">
          <textarea id="B8control" rows="6"
                    data-bind="ojComponent: {component: 'ojTextArea', disabled:disabledForm, 
                                             value: '',}"></textarea>
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Business Unit Margin</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" 
                   data-bind="ojComponent: {component: 'ojInputText', disabled:disabledForm, value: buMarginValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Cagamas Rate</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value: cagaRateValue}">
          </div>
        </div>
        </div>
    </div>
  </div>
  
  <div id="installment-schedule" style="display:none;">
  <h3 class="oj-header-border">Installment Schedule</h3>
    <div class="page-content oj-flex  oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <button  id= "btn_save"  data-bind="ojComponent: { component: 'ojButton', disabled:disabledForm, label: 'Add', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" data-bind="ojComponent: { component: 'ojButton', disabled:disabledForm, label: 'Remove' }">
        </button>
    </div>                               
    </div>                               
    <div class="oj-flex">
      <div id="pagingControlDemo" >

    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [
            {headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'},
            {headerTemplate: 'start_date_hdr', template: 'start_date_item'},
            {headerTemplate: 'end_date_hdr', template: 'end_date_item'},
            {headerTemplate: 'payment_type_hdr', template: 'payment_type_item'},
            {headerTemplate: 'rate_hdr', template: 'rate_item'}
            ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
  </div>
  </div>
  </div>
  <hr/>
<div class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-4 oj-flex-item"></div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item">
            <button  id= "btn_save" class="action-button-3" data-bind="click: onSave, ojComponent: { component: 'ojButton', label: 'Save', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" class="action-button-3" data-bind="click: calculateTotal, ojComponent: { component: 'ojButton', label: 'Calculate' }">
        </button>

    </div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item"></div>
  </div>
</div>

</div>
    </div>
    <div id="tabs-2" >
<div class="oj-form-layout" id="form-container">
    <div class="oj-flex"> 
      <div class="oj-flex-item">
            <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Select' }">
            </button>
                </div>
    </div>
  <div class="oj-form oj-md-labels-inline oj-md-labels-nowrap oj-form-no-dividers oj-lg-form-across
               oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-lg-odd-cols-5 oj-lg-even-cols-5">  
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-even-cols-7 oj-lg-labels-inline">   
         <div class="oj-flex">
            <div class="oj-flex-item">
                <div class="oj-label oj-component oj-combobox-label">
                    <div class="oj-label-group">
                        <label for="select">Tenure</label>
                    </div>
                </div>
            </div>
            <div class="oj-flex-item">
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', value: tenureYear, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Years 
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', value: tenureMonth, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Months
            </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B5control">Payment Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedPaymentType, options: paymentType, optionChange: paymentTypeOptionChangedHandler, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedRateType, options : rateType, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Initiate Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedInitiateRateType, options : rateType, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
          </div>
          <div class="oj-flex-item">
          <div class='oj-flex-bar-middle'>                 
          <!-- You need to set the aria-labelledby attribute to make 
          this accessible. -->
          <div data-bind="ojComponent: {component: 'ojRadioset', value: fixedRate}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_p" type="radio" 
                         value="P" name="fixedrateoptions">
                  <label for="rbtn_p">Published Rate</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_cp" type="radio" checked="true"
                         value="CP" name="fixedrateoptions">
                  <label for="rbtn_cp">Cost Plus Rate</label>
              </span>
          </div>
        </div>
          </div>
        </div>
        <div class="oj-flex"> 
        <p>* Conversion Date</p>
        </div>
        <div class="oj-flex"> 
         <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Add' }">
            </button>
             <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Delete' }">
            </button>
            <table id="table"
                data-bind="ojComponent: {component: 'ojTable', 
                        data: datasource, 
                        columns: [
                        {headerTemplate: 'col_select_hdr', template: 'col_select_item', style:'width: 20%;'},
                        {headerTemplate: 'date_hdr', template: 'date_item'},
                        ],
                                  rootAttributes: {'style':'width: 100%;'}}">
            </table>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            </div>
        </div>
        <div class="oj-flex" id="benchmark-wrapper"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedBenchmark, options : Benchmark}">
          </div>
        </div>
        <div class="oj-flex" id="benchmarkSource-wrapper"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark Source</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedBenchmarkSource, options : BenchmarkSource}">
          </div>
        </div>
    </div>
    </div>                               
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-5 oj-lg-odd-cols-6 oj-lg-even-cols-6  oj-lg-labels-inline"> 
        <div class="oj-flex" > 
          <div class="oj-flex-item">
            <label for="B2control">Cost of Funds</label>
          </div>
          <div class="oj-flex-item">
            <input id="B2control" 
                   data-bind="ojComponent: {component: 'ojInputText', value: cofValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B4control">PWR Pricing Matrix Minimum Margin</label>
          </div>
          <div class="oj-flex-item">
            <input id="B4control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:pwrMarginValue}">
          </div>
        </div>
        
        
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B7control">PWR Pricing Matrix Wave/Reduction</label>
          </div>
          <div class="oj-flex-item">
            <input id="B7control"
                   data-bind="ojComponent: {component: 'ojInputText', value:'-'}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B8control">Wave/Reduction Rationale</label>
          </div>
          <div class="oj-flex-item">
          <textarea id="B8control" rows="6"
                    data-bind="ojComponent: {component: 'ojTextArea', 
                                             value: 'text',}"></textarea>
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Business Unit Margin</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" 
                   data-bind="ojComponent: {component: 'ojInputText', value: buMarginValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Cagamas Rate</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value: totalValue}">
          </div>
        </div>
        </div>
    </div>
  </div>
  
  <div id="installment-schedule" style="display:none;">
  <h3 class="oj-header-border">Installment Schedule</h3>
    <div class="page-content oj-flex  oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <button  id= "btn_save"  data-bind="ojComponent: { component: 'ojButton', label: 'Add', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" data-bind="ojComponent: { component: 'ojButton', label: 'Remove' }">
        </button>
    </div>                               
    </div>                               
    <div class="oj-flex">
      <div id="pagingControlDemo" >

    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [
            {headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'},
            {headerTemplate: 'start_date_hdr', template: 'start_date_item'},
            {headerTemplate: 'end_date_hdr', template: 'end_date_item'},
            {headerTemplate: 'payment_type_hdr', template: 'payment_type_item'},
            {headerTemplate: 'rate_hdr', template: 'rate_item'}
            ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
  </div>
  </div>
  </div>
  <hr/>
<div class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-4 oj-flex-item"></div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item">
            <button  id= "btn_save" class="action-button-3" data-bind="click:onSave, ojComponent: { component: 'ojButton', label: 'Save', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" class="action-button-3" data-bind="click:onCalculate, ojComponent: { component: 'ojButton', label: 'Calculate' }">
        </button>

    </div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item"></div>
  </div>
</div>

</div>
    </div>
    <div id="tabs-3" >
<div class="oj-form-layout" id="form-container">
    <div class="oj-flex"> 
      <div class="oj-flex-item">
            <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Select' }">
            </button>
                </div>
    </div>
  <div class="oj-form oj-md-labels-inline oj-md-labels-nowrap oj-form-no-dividers oj-lg-form-across
               oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-lg-odd-cols-5 oj-lg-even-cols-5">  
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-even-cols-7 oj-lg-labels-inline">   
         <div class="oj-flex">
            <div class="oj-flex-item">
                <div class="oj-label oj-component oj-combobox-label">
                    <div class="oj-label-group">
                        <label for="select">Tenure</label>
                    </div>
                </div>
            </div>
            <div class="oj-flex-item">
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', value: tenureYear, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Years 
                <input id="inputcontrol"
                       data-bind="ojComponent: {component: 'ojInputText', value: tenureMonth, rootAttributes: {style:'width:20%; min-width:20%'}}"
                       type="number"/>
                 Months
            </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B5control">Payment Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedPaymentType, options: paymentType, optionChange: paymentTypeOptionChangedHandler, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedRateType, options : rateType, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Initiate Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedInitiateRateType, options : delT, required:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
          </div>
          <div class="oj-flex-item">
          <div class='oj-flex-bar-middle'>                 
          <!-- You need to set the aria-labelledby attribute to make 
          this accessible. -->
          <div data-bind="ojComponent: {component: 'ojRadioset', value: fixedRate}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_p" type="radio" 
                         value="P" name="fixedrateoptions">
                  <label for="rbtn_p">Published Rate</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_cp" type="radio" 
                         value="CP" name="fixedrateoptions">
                  <label for="rbtn_cp">Cost Plus Rate</label>
              </span>
          </div>
        </div>
          </div>
        </div>
        <div class="oj-flex"> 
        <p>* Conversion Date</p>
        </div>
        <div class="oj-flex"> 
         <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Add' }">
            </button>
             <button id= "button" style='margin:5px;'
                       data-bind="click: onSelect, 
                            ojComponent: {component: 'ojButton', label: 'Delete' }">
            </button>
            <table id="table"
                data-bind="ojComponent: {component: 'ojTable', 
                        data: datasource, 
                        columns: [
                        {headerTemplate: 'col_select_hdr', template: 'col_select_item', style:'width: 20%;'},
                        {headerTemplate: 'date_hdr', template: 'date_item'},
                        ],
                                  rootAttributes: {'style':'width: 100%;'}}">
            </table>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            </div>
        </div>
        <div class="oj-flex" id="benchmark-wrapper"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedBenchmark, options : Benchmark}">
          </div>
        </div>
        <div class="oj-flex" id="benchmarkSource-wrapper"> 
          <div class="oj-flex-item">
            <label for="A5control">Benchmark Source</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedBenchmarkSource, options : BenchmarkSource}">
          </div>
        </div>
    </div>
    </div>                               
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-5 oj-lg-odd-cols-6 oj-lg-even-cols-6  oj-lg-labels-inline"> 
        <div class="oj-flex" > 
          <div class="oj-flex-item">
            <label for="B2control">Cost of Funds</label>
          </div>
          <div class="oj-flex-item">
              <input id="B2control" disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value: cofValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B4control">PWR Pricing Matrix Minimum Margin</label>
          </div>
          <div class="oj-flex-item">
            <input id="B4control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:pwrMarginValue}">
          </div>
        </div>
        
        
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B7control">PWR Pricing Matrix Wave/Reduction</label>
          </div>
          <div class="oj-flex-item">
            <input id="B7control"
                   data-bind="ojComponent: {component: 'ojInputText', value:'-'}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B8control">Wave/Reduction Rationale</label>
          </div>
          <div class="oj-flex-item">
          <textarea id="B8control" rows="6"
                    data-bind="ojComponent: {component: 'ojTextArea', 
                                             value: 'text',}"></textarea>
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Business Unit Margin</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" 
                   data-bind="ojComponent: {component: 'ojInputText', value: buMarginValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Cagamas Rate</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" disabled="disabled"
                   data-bind="ojComponent: {component: 'ojInputText', value: totalValue}">
          </div>
        </div>
        </div>
    </div>
  </div>
  
  <div id="installment-schedule" style="display:none;">
  <h3 class="oj-header-border">Installment Schedule</h3>
    <div class="page-content oj-flex  oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <button  id= "btn_save"  data-bind="ojComponent: { component: 'ojButton', label: 'Add', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" data-bind="ojComponent: { component: 'ojButton', label: 'Remove' }">
        </button>
    </div>                               
    </div>                               
    <div class="oj-flex">
      <div id="pagingControlDemo" >

    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [
            {headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'},
            {headerTemplate: 'start_date_hdr', template: 'start_date_item'},
            {headerTemplate: 'end_date_hdr', template: 'end_date_item'},
            {headerTemplate: 'payment_type_hdr', template: 'payment_type_item'},
            {headerTemplate: 'rate_hdr', template: 'rate_item'}
            ], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
  </div>
  </div>
  </div>
  <hr/>
<div class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-4 oj-flex-item"></div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item">
            <button  id= "btn_save" class="action-button-3" data-bind="click:onSave, ojComponent: { component: 'ojButton', label: 'Save', childAttributes:{style:'white-space: normal;'} }">
        </button>
    <button id= "btn_calculate" class="action-button-3" data-bind="click:onCalculate, ojComponent: { component: 'ojButton', label: 'Calculate' }">
        </button>

    </div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item"></div>
  </div>
</div>

</div>
    </div>
  </div>
</div>

<script type="text/html" id="start_date_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Start Date
    </th>
</script>
<script type="text/html" id="start_date_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputDate', 
                                            value:''}">
    </td>
</script>

<script type="text/html" id="end_date_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        End Date
    </th>
</script>
<script type="text/html" id="end_date_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputDate', 
                                            value:''}">
    </td>
</script>

<script type="text/html" id="payment_type_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Payment Type
    </th>
</script>
<script type="text/html" id="payment_type_item">
    <td>
        <select id="selectPaymentType"
                data-bind="ojComponent: {component: 'ojSelect', options: paymentType, required: true}"></select>
    </td>
</script>

<script type="text/html" id="rate_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Rate Type
    </th>
</script>
<script type="text/html" id="rate_item">
    <td>
<select id="selectRateType" data-bind="ojComponent: {component: 'ojSelect', options: rateType, required: true}"></select>
    </td>
</script>
<script type="text/html" id="view_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="view_action">
    <td>
<div id="checkboxSetAgreeIdForm" aria-labelledby="agreeIdForm" 
             data-bind=
             "ojComponent: {
            component: 'ojCheckboxset'}" >
          <span class="oj-choice-row">
            <input id="agreeRequired" type="checkbox" value="agree">
          </span>
        </div>
    </td>
</script>
<script type="text/html" id="col_select_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="col_select_item">
    <td>
    <div id="checkboxSetAgreeId" aria-labelledby="agreeId" 
           data-bind=
           "ojComponent: {component: 'ojCheckboxset',disabled:$parent.disabledForm,  
            value: selectedRow}" >
        <span class="oj-choice-row">
          <input id="selected" type="checkbox" value=selected>
        </span>
      </div>
    </td>
</script>

<script type="text/html" id="date_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Date
    </th>
</script>
<script type="text/html" id="date_item">
    <td>
         <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputDate', disabled:$parent.disabledForm, 
                                            value:''}">
    </td>
</script>
