<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div class="oj-form-layout page-content" id="form-container">

    <h3 class="oj-header-border">Header</h3>
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-6 oj-lg-even-cols-6 oj-lg-labels-inline">   
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A3control">Counterparty Name</label>
          </div>
          <div class="oj-flex-item">
            <input id="A3control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: 'CIMB Bank', disabled:true}">
          </div>
        </div>
         <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A4control">Purchase Contract Number</label>
          </div>
          <div class="oj-flex-item">
            <input id="A4control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:'T-127/000/2701/179074/TL5', disabled:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A5control">Repurchase Amount</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojInputText',value:'583,000,000', disabled:true}">
          </div>
        </div>
        
        </div>
    </div>                               
    <div class="oj-flex-item">
    </div>                               
    <div class="oj-flex-item">
    </div>                               
    
  </div>
    <h3 class="oj-header-border">Line</h3>
    <div class="oj-flex">
      <div class="oj-flex-item">
          <div class='oj-flex-bar-middle'>                 
          <!-- You need to set the aria-labelledby attribute to make 
          this accessible. -->
          <div data-bind="ojComponent: {component: 'ojRadioset',value:currentStatus}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_v" type="radio" 
                         value="V" name="fixedrateoptions">
                  <label for="rbtn_v">Valid</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_i" type="radio" 
                         value="IV" name="fixedrateoptions">
                  <label for="rbtn_i">Invalid</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_a" type="radio" 
                         value="ALL" name="fixedrateoptions">
                  <label for="rbtn_a">All</label>
              </span>
          </div>
        </div>
          </div>
          <div class="oj-flex-item">
          <button  id= "btn_1" data-bind="click: loadTable, ojComponent: { component: 'ojButton', label: 'Filter Nearest Purchase Amount' }">
    </button>
          <button  id= "btn_4" data-bind="click: openUploadPopUp, ojComponent: { component: 'ojButton', label: 'Upload Data' }">
    </button>
          <button  id= "btn_5" data-bind=" ojComponent: { component: 'ojButton', label: 'Revalidate' }">
    </button>
          <button  id= "btn_3" data-bind=" ojComponent: { component: 'ojButton', label: 'Export' }">
    </button>
          </div>      
    </div>
</div>
<div id="pagingControlDemo" class="page-content">
    <table id="table" summary="Loan Detail" aria-label="Loan Detail"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [{headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'},
            {headerText: 'Loan Reference Number', field: 'LoanRefNum'},
             {headerText: 'Branch Code', field: 'BranchCode'},
             {headerText: 'Book Balance', field: 'BookBalance'},
             {headerText: 'Forecasted Book Balance', field: 'ForecastedBookBalance'},
             {headerText: 'Mortgage Rate', field: 'MortgageRate'},
             {headerText: 'Mortgage Installment', field: 'MortgageInstallment'},
             {headerText: 'Months in Arrear(s)', field: 'Month'}, 
             {headerText: 'Initial Purchase Value', field: 'InitialPurchaseValue'}, 
             {headerText: 'Deferred Purchase Value', field: 'DeferredPurchaseValue'}, 
             {headerText: 'Cagamas Installment', field: 'CagamasInstallment'}, 
             {headerText: 'Review Date Value', field: 'ReviewDateValue'}, 
             {headerText: 'Status', field: 'Status'}], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
<div style="clear:both;"></div>
       <hr/>
<div class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-5 oj-flex-item"></div>
    <div class="oj-sm-12 oj-md-6  oj-lg-2 oj-flex-item">
<button  id= "btn_back" class="action-button-2" data-bind="click: redirectToPC, ojComponent: { component: 'ojButton', label: 'Back' }">
    </button>
    </div>
    <div class="oj-sm-12 oj-md-6  oj-lg-5 oj-flex-item"></div>
  </div>
</div>
<script type="text/html" id="view_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="view_action">
    <td>
<div id="checkboxSetAgreeIdForm" aria-labelledby="agreeIdForm" 
             data-bind=
             "ojComponent: {
            component: 'ojCheckboxset'}" >
          <span class="oj-choice-row">
            <input id="agreeRequired" type="checkbox" value="agree">
          </span>
        </div>
    </td>
</script>


<div style="display:none" id="UploadDialog" title="Upload File" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:500px; height: 200px;'}
		  }">
     <div class="oj-dialog-body oj-flex-items-pad">
     <div class="oj-flex  oj-sm-flex-items-initial oj-sm-justify-content-center">
      <div class="oj-flex-item">
                    <a onclick="openFileDialog();return;">Browse File</a>
                    <input type="file" id="browseFile" value="Browse File" style=" top: -100em"/>
      </div>
      <div class="oj-flex-item ">
      <div data-bind="ojComponent: {component: 'ojRadioset', value: dataType}" 
               aria-labelledby="mainlabelid">
              <span class="oj-choice-row-inline">
                  <input id="rbtn_p" type="radio" 
                         value="Fresh" name="datetypeoptions">
                  <label for="rbtn_p">Fresh Data</label>
              </span>
              <span class="oj-choice-row-inline">
                  <input id="rbtn_cp" type="radio" 
                         value="Delta" name="datetypeoptions">
                  <label for="rbtn_cp">Delta Data</label>
              </span>
          </div>
      </div>
      </div>
     <div class="oj-flex  oj-sm-flex-items-initial oj-sm-justify-content-center" style="margin-top:20px;">      
      <div class="oj-flex-item">

        <button  id= "btn_save" data-bind="click: closeUploadPopUp, ojComponent: { component: 'ojButton', label: 'Upload' }">
    </button>
        <button  id= "btn_save" data-bind="click: closeUploadPopUp, ojComponent: { component: 'ojButton', label: 'Back' }">
    </button>
      </div>
    </div>
  </div>
</div>

