<!DOCTYPE html>

<div id="container" class="oj-offcanvas-outer-wrapper">
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div id="pageDrawer" class="oj-offcanvas-top oj-panel" data-bind="style: {backgroundColor: colorType, textAlign: 'center', color: 'white'}">
        <span data-bind="text: message"></span>
    </div>
    <div id="pageContent" class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchCode">Cagamas Rating</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachCode" data-bind="ojComponent: {component: 'ojInputText',value: codeSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchName">Agency</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachName" data-bind="ojComponent: {component: 'ojInputText',value: nameSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchDesc">Rating</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachDesc" data-bind="ojComponent: {component: 'ojInputText',value: descSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "btnSearch" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "btnReset" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item"></div>
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "btnCreate" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "btnActivate" style="display: none;" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive' }">
                                                        </button>
                                                        <button id= "btnEdit" style="display: none;" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit' }">
                                                        </button>
                                                        <button id= "btnExport" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div style="width:100%;margin-left:0px;padding-left:0px;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Origination List" aria-label="Origination Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSource, columns:
                                                                    [{headerText: 'Cagamas Rating',  field: 'cagamasRating', style: 'width: 10%'},
                                                                    {headerText: 'Agency', field: 'agencyCagaRating', style: 'width: 20%'},
                                                                    {headerText: 'Rating', field: 'cagaRatingCd',style: 'width: 30%'},
                                                                    {headerText: 'Active',  field: 'active',style: 'width: 10%', renderer: activeRenderer},
                                                                    {headerText: 'Effective Date',  field: 'effectiveDate',style: 'width: 10%', renderer: dateRenderer},
                                                                    {headerText: 'Last Updated By',  field: 'updatedBy',style: 'width: 10%'},
                                                                    {headerText: 'Last Updated Date',  field: 'updatedDate',style: 'width: 10%', renderer: dateTimeRenderer}], 
                                                                    rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'} ,
                                                                        beforeCurrentRow: onSelectRow}">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                 

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>

<!-- DIALOG -->
<div id="dialogWrapper">
    <div id="CreateEditDialog" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:500px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body oj-offcanvas-outer-wrapper" data-bind="with: model">
            <div id="dialogDrawer" class="oj-offcanvas-top oj-panel" data-bind="style: {backgroundColor: colorType, textAlign: 'center'}">
                 <p style="color: white"><span data-bind="text: message"></span></p>
            </div>
            <div id="dialogContent" class="oj-form  oj-sm-odd-cols-7 oj-md-odd-cols-5 oj-md-labels-inline">
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="code">Cagamas Rating</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="code" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.cagamasRating, required: true, invalidComponentTracker: tracker}" >
                    </div>
                </div> 
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="name">Agency</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="name" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.agencyCagaRating, required: true, invalidComponentTracker: tracker}" >
                    </div>
                </div> 
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="desc">Rating</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.cagaRatingCd, required: true, invalidComponentTracker: tracker}">
                    </div>
                </div> 
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label id="statusGroup">Status</label>
                    </div>
                    <div class="oj-flex-item">
                        <div class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: attributes.active, required: true, invalidComponentTracker: tracker}" 
                             aria-labelledby="statusGroup">
                            <span class="oj-choice-item">
                                <input id="rbtn_active" type="radio" 
                                       value="Y" name="status">
                                <label for="rbtn_active">Active</label>
                            </span>
                            <span class="oj-choice-item">
                                <input id="rbtn_inactive" type="radio" 
                                       value="N" name="status">
                                <label for="rbtn_inactive">Inactive</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="effectiveDt">Effective Date</label>
                    </div>
                    <div class="oj-flex-item">
                    <input id="effectiveDt" style="width: 100%;"
                           data-bind="ojComponent: {component: 'ojInputDate',value: attributes.effectiveDate, converter: dateConverter, required: true, invalidComponentTracker: tracker}"/>
                    </div>
                </div>    
            </div>
        </div>
        <div class="oj-dialog-footer">
            <button id="btnSave" data-bind="click:onSave, ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="btnCancel" data-bind="click:onCancel,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
    <div id="ConfirmDialog" class="ojDialog" title="" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:400px;'}
		  }">
        <div class="oj-dialog-header oj-helper-clearfix">
            <div>
                <span id="infoIcon" class="oj-icon oj-message-info-icon" style="float:left;"></span>
                <span id="dialog-title-id" class="oj-dialog-title">Confirmation</span>
            </div>
        </div>
        <div class="oj-dialog-body">
            <p>Are you sure you want to do this action?</p>
        </div>
        <div class="oj-dialog-footer">
            <button id="btnConfirmOk" data-bind="click: onConfirmYes, ojComponent:
                 { component: 'ojButton', label: 'Yes'}"> </button>
            <button id="btnConfirmCancel" data-bind="click: onConfirmNo, ojComponent:
                 { component: 'ojButton', label: 'No'}"> </button>
        </div>
    </div>
</div>