<!DOCTYPE html>

<div id="container" >
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="exratename">Exchange Rate Name</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="exratename" data-bind="ojComponent: {component: 'ojInputText',value: nameSearch,valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="orgcurr">Origin Currency Code</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="orgcurr" data-bind="ojComponent: {component: 'ojInputText',value: currSearch,valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                                                                 
                                                 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                            <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="datestart">Start Date</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="datestart" 
                                                            data-bind="ojComponent: {
                                                            component: 'ojInputDate', value: startDateSearch}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="dateend">End Date</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="dateend" 
                                                            data-bind="ojComponent: {
                                                            component: 'ojInputDate', value: endDateSearch}">
                                                    </div>
                                                </div>
                                        </div>
                                        </div>
                                        <div class="oj-flex-item"></div>
                                           
                                    </div>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >
                                        <div class="oj-flex-item">
                                            <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "button" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "btnActivate" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "btnEdit" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "button" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div style="width:100%;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Origination List" aria-label="Origination Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSource, columns:
                                                                    [{headerText: 'Exchange Rate Name', field: 'ExRateName', style: 'width: 10%'},
                                                                    {headerText: 'Origin Currency', field: 'OrgCurr', style: 'width: 10%'},
                                                                    {headerText: 'Target Currency', field: 'TargetCurr', style: 'width: 10%'},
                                                                    {headerText: 'Rate', field: 'Rate', style: 'width: 10%'},
                                                                    {headerText: 'Reverse Rate', field: 'ReverseRate', style: 'width: 10%'},
                                                                    {headerText: 'Start Date',  field: 'StartDate',style: 'width: 10%', renderer: dateRenderer},
                                                                    {headerText: 'End Date',  field: 'EndDate',style: 'width: 10%', renderer: dateRenderer},
                                                                    {headerText: 'Last Updated Date',  field: 'updatedDate',style: 'width: 10%', renderer: dateTimeRenderer}], 
                                                                    rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'},beforeCurrentRow: onSelectRow}">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                 

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>


<!-- DIALOG -->
<div id="dialogWrapper">
    <div id="CreateEditDialog" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:450px; min-height: 330px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body">
            <form data-bind="submit: onSave, with: ExRateModel">
                <div class="oj-form  oj-sm-odd-cols-6 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="code">Exchange Rate Name</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="code" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.ExRateName}" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="name">Origin Currency</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="name" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.OrgCurr}" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Target Currency</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.TargetCurr}">
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Rate</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.Rate}">
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Reverse Rate</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.ReverseRate}">
                        </div>
                    </div>                    
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="effectiveDt">Start Date</label>
                        </div>
                        <div class="oj-flex-item">
                        <input id="effectiveDt" style="width: 100%;"
                               data-bind="ojComponent: {component: 'ojInputDate',value: attributes.StartDate}"/>
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="effectiveDt">End Date</label>
                        </div>
                        <div class="oj-flex-item">
                        <input id="effectiveDt" style="width: 100%;"
                               data-bind="ojComponent: {component: 'ojInputDate',value: attributes.EndDate}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="oj-dialog-footer">
            <button id="btnSave" data-bind="click:onSave,ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="btnCancel" data-bind="click:onCancel,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
</div>