<!DOCTYPE html>

<div id="container" class="oj-offcanvas-outer-wrapper">
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div id="pageDrawer" class="oj-offcanvas-top oj-panel" data-bind="style: {backgroundColor: colorType, textAlign: 'center', color: 'white'}">
        <span data-bind="text: message"></span>
    </div>
    <div class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
<!--                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline"> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchDesc">Company Name</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachDesc" data-bind="ojComponent: {component: 'ojInputText',value: nameSearch,valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "button" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item"></div>
                                    </div>
                                </div>-->

<!--                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "btnActivate" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "btnEdit" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "button" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>-->
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-flex">
                                                <div class="oj-flex-item">
                                                    <h3><b>Company List</b></h3>
                                                </div>
                                            </div>
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="searchName">Company Name</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="searchName" data-bind="ojComponent: {component: 'ojInputText',value: nameSearch,valueUpdate: 'afterkeydown'}">
                                                </div>
                                                <div class="oj-flex-item">
                                                    <button id= "button" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                    <button id= "button" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">
                                                <div class="oj-flex-item">
                                                    <div id="pagingControlDemo" >
                                                        
                                                        <table id="table" summary="Origination List" aria-label="Origination Table"  style="width:100%;"
                                                               data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSource, columns:
                                                                [{headerText: 'Name', field: 'orgName', style: 'width: 100%'},
                                                            {headerText: 'Active',  field: 'active',style: 'width: 10%', renderer: activeRenderer}
                                                            ], 
                                                                rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'},beforeCurrentRow: onSelectRow}">
                                                        </table>
                                                        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="oj-flex-item" > 
                                            <div class="oj-flex">
                                                <div class="oj-flex-item">
                                                    <h3><b data-bind="text:MappedDivText"></b></h3>
                                                </div>
                                            </div>
                                            <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "btnAddTagging" data-bind="click:onAddTagging,ojComponent: { component: 'ojButton', label: 'Add', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "btnDeleteTagging" data-bind="click:onDeleteTagging,ojComponent: { component: 'ojButton', label: 'Delete', disabled: !selectedRowTagging() }">
                                                        </button>
                                                        <button id= "btnViewRelated" data-bind="click:onViewRelated,ojComponent: { component: 'ojButton', label: 'View Related Company', disabled: !selectedRowTagging() }">
                                                        </button>
                                                    </div>
                                                </div>
                                            <div id="AccountMapping" style="display:none;">
                                                <table id="table" summary="Tagging" aria-label="Tagging Table" style="width:100%;"
                                                       data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSourceTagging, columns:
                                                        [{headerText: 'Account Code', field: 'AccountNo', style: 'width: 30%'},
                                                        {headerText: 'Account Name', field: 'AccountName',style: 'width: 70%'},
                                                        {headerText: 'Postable',  field: 'Postable',style: 'width: 10%', renderer: switchRenderer},
                                                        {headerText: 'ControlAccount',  field: 'ControlAccount',style: 'width: 10%', renderer: switchRenderer}], 
                                                        rootAttributes: {'style':'width: 100%;'},selectionMode: {row: 'single'},beforeCurrentRow: onSelectRowTagging}">
                                                </table>
                                                <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSourceTagging, pageSize: 10}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

<!--                                <div id="AccountMapping" >                                
                                    <h3><b>Accounts mapped to <span data-bind="text:selectedRowValue"></span></b></h3>                                
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 

                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "btnAddTagging" data-bind="click:onAddTagging,ojComponent: { component: 'ojButton', label: 'Add' }">
                                                        </button>
                                                        <button id= "btnDeleteTagging" data-bind="click:onDeleteTagging,ojComponent: { component: 'ojButton', label: 'Delete', disabled: !selectedRowTagging() }">
                                                        </button>
                                                        <button id= "btnViewRelated" data-bind="click:onViewRelated,ojComponent: { component: 'ojButton', label: 'View Related Company', disabled: !selectedRowTagging() }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">                       
                                                    <div style="width:100%;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Tagging" aria-label="Tagging Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSourceTagging, columns:
                                                                    [{headerText: 'Company Name',  field: 'CompanyName', style: 'width: 30%'},
                                                                    {headerText: 'Account Number', field: 'AccountNo', style: 'width: 30%'},
                                                                    {headerText: 'Account Name', field: 'AccountName',style: 'width: 40%'}], 
                                                                    rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'},beforeCurrentRow: onSelectRowTagging}">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSourceTagging, pageSize: 10}">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                    </div>-->

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>


<!-- DIALOG -->
<div id="dialogWrapper">
    <div id="CreateEditDialog" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:450px; min-height: 330px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body oj-offcanvas-outer-wrapper" data-bind="with: companyAccountModel">
            <div id="dialogDrawer" class="oj-offcanvas-top oj-panel" data-bind="style: {backgroundColor: colorType, textAlign: 'center'}">
                 <p style="color: white"><span data-bind="text: message"></span></p>
            </div>
            <div id="dialogContent" class="oj-form  oj-sm-odd-cols-6 oj-md-odd-cols-6 oj-md-labels-inline">
                    
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="name">Company</label>
                        </div>
                        <div class="oj-flex-item">
                            <select id="countryInput" data-bind="ojComponent: {
                                component: 'ojSelect',
                                options: allData, 
                                value: selectedcompanyId,
                                placeholder: 'Please Select',
                                rootAttributes: {style:'max-width: 20em'}}">
                            </select>
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Account</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: attributes.fundSrcDesc, required: true, invalidComponentTracker: tracker}">
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="statusGroup">Status</label>
                        </div>
                        <div class="oj-flex-item">
                            <div id="statusGroup" class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: attributes.active, required: true, invalidComponentTracker: tracker}" 
                                 aria-labelledby="statusGroup">
                                <span class="oj-choice-item">
                                    <input id="rbtn_active" type="radio" 
                                           value="Y" name="status">
                                    <label for="rbtn_active">Active</label>
                                </span>
                                <span class="oj-choice-item">
                                    <input id="rbtn_inactive" type="radio" 
                                           value="N" name="status">
                                    <label for="rbtn_inactive">Inactive</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="effectiveDt">Effective Date</label>
                        </div>
                        <div class="oj-flex-item">
                        <input id="effectiveDt" style="width: 100%;"
                               data-bind="ojComponent: {component: 'ojInputDate',value: attributes.effectiveDate, required: true, invalidComponentTracker: tracker}"/>
                        </div>
                    </div>    
                </div>

        </div>
        <div class="oj-dialog-footer">
            <button id="btnSave" data-bind="click:onSave,ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="btnCancel" data-bind="click:onCancel,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
    <div id="CreateEditDialogTagging" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:550px; min-height: 330px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body oj-offcanvas-outer-wrapper" data-bind="with: companyAccountTaggingModel">
            <div id="dialogDrawer" class="oj-offcanvas-top oj-panel" data-bind="style: {backgroundColor: colorType, textAlign: 'center'}">
                 <p style="color: white"><span data-bind="text: message"></span></p>
            </div>
            <div id="dialogContent" class="oj-form  oj-sm-odd-cols-6 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="code">Company Name</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="code" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: selectedRowValue, disabled:true}" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="account">Account</label>
                        </div>
                        <div class="oj-flex-item">
                            <select id="account" data-bind="ojComponent: {
                                component: 'ojSelect',
                                options: accountLOV, 
                                value: selectedAccountId,
                                placeholder: 'Please Select',
                                rootAttributes: {style:'max-width: 20em'}}">
                            </select>
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="Postable">Postable</label>
                        </div>
                        <div class="oj-flex-item">
                            <div id="Postable" class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: attributes.Postable, required: true, invalidComponentTracker: tracker}" 
                                 aria-labelledby="statusGroup">
                                <span class="oj-choice-item">
                                    <input id="P" type="radio" 
                                           value="Y" name="Postable">
                                    <label for="P">Postable</label>
                                </span>
                                <span class="oj-choice-item">
                                    <input id="NP" type="radio" 
                                           value="N" name="Postable">
                                    <label for="NP">Not Postable</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="ControlAccount">Control Account</label>
                        </div>
                        <div class="oj-flex-item">
                            <div id="ControlAccount" class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: attributes.ControlAccount, required: true, invalidComponentTracker: tracker}" 
                                 aria-labelledby="statusGroup">
                                <span class="oj-choice-item">
                                    <input id="P" type="radio" 
                                           value="Y" name="ControlAccount">
                                    <label for="P">Control Account</label>
                                </span>
                                <span class="oj-choice-item">
                                    <input id="NP" type="radio" 
                                           value="N" name="ControlAccount">
                                    <label for="NP">No Control Account</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="oj-dialog-footer">
            <button id="btnSave" data-bind="click:onSaveTagging,ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="btnCancel" data-bind="click:onCancelTagging,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
        <div id="ViewRelatedDialog" class="ojDialog" title="" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:800px;'}
		  }">
                <div class="oj-flex" >
                    <div class="oj-flex-item">   
                        <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                            <div class="oj-flex">
                                <div style="width:100%;">
                                    <div id="pagingControlDemo" class="page-content">
                                        <h3><b>Company related to (<span data-bind="text:selectedRowTaggingId"></span>) - <span data-bind="text:selectedRowTaggingValue"></span></b></h3>
                                        <table id="table" summary="Origination List" aria-label="Origination Table"
                                               data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSourceRelated, columns:
                                                [{headerText: 'Name', field: 'CompanyName', style: 'width: 60%'},
                                                {headerText: 'Active',  field: 'active',style: 'width: 10%', renderer: activeRenderer}], 
                                                rootAttributes: {'style':'width: 100%;'}}">
                                        </table>
                                        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSourceRelated, pageSize: 10}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            
    </div>
    
    <div id="ConfirmDialog" class="ojDialog" title="" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:400px;'}
		  }">
        <div class="oj-dialog-header oj-helper-clearfix">
            <div>
                <span id="infoIcon" class="oj-icon oj-message-info-icon" style="float:left;"></span>
                <span id="dialog-title-id" class="oj-dialog-title">Confirmation</span>
            </div>
        </div>
        <div class="oj-dialog-body">
            <p>Are you sure you want to do this action?</p>
        </div>
        <div class="oj-dialog-footer">
            <button id="btnConfirmOk" data-bind="click: onConfirmYes, ojComponent:
                 { component: 'ojButton', label: 'Yes'}"> </button>
            <button id="btnConfirmCancel" data-bind="click: onConfirmNo, ojComponent:
                 { component: 'ojButton', label: 'No'}"> </button>
        </div>
    </div>
</div>