<!DOCTYPE html>

<div id="container" >
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchCode">Type Code</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachCode" data-bind="ojComponent: {component: 'ojInputText',value: codeSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchName">Type Name</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachName" data-bind="ojComponent: {component: 'ojInputText', value: nameSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchDesc">Type Description</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachDesc" data-bind="ojComponent: {component: 'ojInputText', value: descSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "button" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item"></div>
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "button" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "button" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "button" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit', disabled: !selectedRow() }">
                                                        </button>
                                                        <button id= "button" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div style="width:100%;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Origination List" aria-label="Origination Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSource, columns:
                                                                    [{headerText: 'Code',  field: 'gstTypCd', style: 'width: 10%'},
                                                                    {headerText: 'Name', field: 'gstTypName', style: 'width: 30%'},
                                                                    {headerText: 'Description', field: 'gstTypDesc',style: 'width: 20%'},
                                                                    {headerText: 'Active',  field: 'active',style: 'width: 10%', renderer: activeRenderer},
                                                                    {headerText: 'Effective Date',  field: 'effectiveDate',style: 'width: 10%', renderer: dateRenderer},
                                                                    {headerText: 'Last Updated By',  field: 'updatedBy',style: 'width: 10%'},
                                                                    {headerText: 'Last Updated Date',  field: 'updatedDate',style: 'width: 10%', renderer: dateTimeRenderer}], 
                                                                    rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'} ,
                                                                        beforeCurrentRow: onSelectRow}">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                 

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>


<!-- DIALOG -->
<div id="dialogWrapper">
    <div id="CreateEditDialog" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:420px; min-height: 330px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body">
            <form data-bind="submit: onSave, with: gstTypeModel">
                <div class="oj-form  oj-sm-odd-cols-6 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="code">Type Code</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="code" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: gstTypCd}" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="name">Type Name</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="name" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: gstTypName}" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Type Description</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputText',value: gstTypDesc}">
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="statusGroup">Status</label>
                        </div>
                        <div class="oj-flex-item">
                            <div class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: active}" 
                                 aria-labelledby="statusGroup">
                                <span class="oj-choice-item">
                                    <input id="rbtn_active" type="radio" 
                                           value="Y" name="status">
                                    <label for="rbtn_active">Active</label>
                                </span>
                                <span class="oj-choice-item">
                                    <input id="rbtn_inactive" type="radio" 
                                           value="N" name="status">
                                    <label for="rbtn_inactive">Inactive</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="effectiveDt">Effective Date</label>
                        </div>
                        <div class="oj-flex-item">
                        <input id="effectiveDt" style="width: 100%;"
                               data-bind="ojComponent: {component: 'ojInputDate',value: effectiveDate}"/>
                        </div>
                    </div>    
                </div>
            </form>
        </div>
        <div class="oj-dialog-footer">
            <button id="saveButton" type="submit" data-bind="ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="cancelButton" data-bind="click:cancel,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
</div>