<!DOCTYPE html>

<div id="container" >
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchCode">Organization Name</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachCode" data-bind="ojComponent: {component: 'ojInputText', value:''}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "btnSearch" data-bind="click: clickSearchBtn,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "btnReset" data-bind="click: clickResetBtn,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item"></div>
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "btnCreate" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "btnActivate" style="display: none;" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive' }">
                                                        </button>
                                                        <button id= "btnEdit" style="display: none;" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit' }">
                                                        </button>
                                                        <button id= "btnExport" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div style="width:100%;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Origination List" aria-label="Origination Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', display: 'grid', data: dataSource, columns:
                                                                    [{headerText: 'Name', field: 'org', style: 'width: 25%', renderer: orgRenderer},
                                                                    {headerText: 'Level', field: 'orgLevel',style: 'width: 10%; text-align: right;'},
                                                                    {headerText: 'Parent', field: 'orgParent',style: 'width: 25%', renderer: orgRenderer},
                                                                    {headerText: 'Active',  field: 'active',style: 'width: 10%', renderer: activeRenderer},
                                                                    {headerText: 'Effective Date',  field: 'effectiveDate',style: 'width: 10%', renderer: dateRenderer},
                                                                    {headerText: 'Last Updated By',  field: 'updatedBy',style: 'width: 10%'},
                                                                    {headerText: 'Last Updated Date',  field: 'updatedDate',style: 'width: 10%', renderer: dateTimeRenderer}], 
                                                                    rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'} }">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                 

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>