<!DOCTYPE html>

<div id="container" >
    <div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
    <div class="page-content" style="margin:0 auto">
        <div class="oj-flex">  
            <div class="oj-flex-item">
                <div class="oj-margin oj-panel-alt demo-mypanel" >          
                    <div class="oj-flex">  
                        <div class="oj-flex-item">  
                            <div class="oj-margin oj-panel-alt demo-mypanel" >   
                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >  
                                    <h3><b>Filter</b></h3>
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchCode">Rate Type Code</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachCode" data-bind="ojComponent: {component: 'ojInputText',value: codeSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchName">Rate Type Name</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachName" data-bind="ojComponent: {component: 'ojInputText', value: nameSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="searchDesc">Rate Type Description</label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <input id="seachDesc" data-bind="ojComponent: {component: 'ojInputText', value: descSearch, valueUpdate: 'afterkeydown'}">
                                                    </div>
                                                </div> 
                                                <div class="oj-flex">                       
                                                    <div class="oj-flex-item">
                                                        <button id= "btnSearch" data-bind="click: onSearch,ojComponent: {component: 'ojButton', label: 'Search' } "></button>
                                                        <button id= "btnReset" data-bind="click: onReset,ojComponent: {component: 'ojButton', label: 'Reset' } "></button>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>    
                                        <div class="oj-flex-item"></div>
                                    </div>
                                </div>
                                

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" > 
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div class="oj-flex-item">
                                                        <button id= "btnCreate" data-bind="click:onCreate,ojComponent: { component: 'ojButton', label: 'Create' }">
                                                        </button>
                                                        <button id= "btnActivate" style="display: none;" data-bind="click:onActivateDeactivate,ojComponent: { component: 'ojButton', label: 'Active/Deactive' }">
                                                        </button>
                                                        <button id= "btnEdit" style="display: none;" data-bind="click:onEdit,ojComponent: { component: 'ojButton', label: 'Edit' }">
                                                        </button>
                                                        <button id= "btnExport" data-bind="click:onExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>

                                <div class="oj-panel oj-margin oj-panel-alt demo-mypanel" >                    
                                    <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                        <div class="oj-flex-item">   
                                            <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                                <div class="oj-flex">                        
                                                    <div style="width:100%;">
                                                        <div id="pagingControlDemo" class="page-content">
                                                            <table id="table" summary="Origination List" aria-label="Origination Table"
                                                                   data-bind="ojComponent: {component: 'ojTable', data: dataSource, display: 'grid', columns:
                                                                        [{headerText: 'Rate Type Code',  field: 'rateTypeCd', style: 'width: 10%'},
                                                                        {headerText: 'Rate Type Name',     field: 'rateTypeName', style: 'width: 20%'},
                                                                        {headerText: 'Rate Type Description', field: 'rateTypeDesc', style: 'width: 30%'},
                                                                        {headerText: 'Active',  field: 'active', style: 'width: 10%',renderer: activeRenderer},
                                                                        {headerText: 'Effective Date',  field: 'effectiveDate', style: 'width: 10%',  renderer: dateRenderer},
                                                                        {headerText: 'Last Modified By',  field: 'updatedBy',style: 'width: 10%'},
                                                                        {headerText: 'Last Modified Date',  field: 'updatedDate',style: 'width: 10%', renderer: dateTimeRenderer}], 
                                                                        rootAttributes: {'style':'width: 100%;'}, selectionMode: {row: 'single'},
                                                                        beforeCurrentRow: onSelectRow}">
                                                            </table>
                                                            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: dataSource, pageSize: 10}" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>                 

                            </div>    
                        </div>
                    </div> 
                </div>    
            </div>
        </div> 
    </div>
</div>


<!-- DIALOG -->
<div id="dialogWrapper">
    <div id="CreateEditDialog" title=""
            data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',modality: 'modeless', 
                    cancelBehavior: 'escape',resizeBehavior: 'none', 
                rootAttributes: { style: 'min-width:420px; min-height: 330px;'}}">
        <div class="oj-dialog-header oj-helper-clearfix">
            <span id="dialogTitleId" class="oj-dialog-title" data-bind="text:dialogTitle"> </span> 
        </div>
        <div class="oj-dialog-body " data-bind="with: rateTypeModel">
            <div class="oj-form oj-sm-odd-cols-6 oj-md-odd-cols-6 oj-md-labels-inline">
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="code">Rate Type Code</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="code" style="width: 100%;" data-bind="value: attributes.rateTypeCd" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="name">Rate Type Name</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="name" style="width: 100%;" data-bind="value: attributes.rateTypeName" >
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="desc">Rate Type Description</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="desc" style="width: 100%;" data-bind="value: attributes.rateTypeDesc" >
                        </div>
                    </div> 
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="statusGroup">Status</label>
                        </div>
                        <div class="oj-flex-item">
                            <div class="oj-choice-direction-row" data-bind="ojComponent: {component: 'ojRadioset', value: attributes.active}" 
                                 aria-labelledby="statusGroup">
                                <span class="oj-choice-item">
                                    <input id="rbtn_active" type="radio" 
                                           value="Y" name="status">
                                    <label for="rbtn_active">Active</label>
                                </span>
                                <span class="oj-choice-item">
                                    <input id="rbtn_inactive" type="radio" 
                                           value="N" name="status">
                                    <label for="rbtn_inactive">Inactive</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="oj-flex">  
                        <div class="oj-flex-item">
                            <label for="effectiveDt">Effective Date</label>
                        </div>
                        <div class="oj-flex-item">
                            <input id="effectiveDt" style="width: 100%;" data-bind="ojComponent: {component: 'ojInputDate',value: attributes.effectiveDate,converter: dateConverter}" >
                        </div>
                    </div> 
                </div>
            
        </div>
        <div class="oj-dialog-footer">
            <button id="btnSave" data-bind="click:onSave, ojComponent: {component: 'ojButton', label: 'Save'}"> </button>
            <button id="btnCancel" data-bind="click:onCancel,ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
        </div>
    </div>
</div>