<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div class="page-content" style="width:700px; margin:0 auto;border:solid thin #CCC;">
<h1 style="text-align:center;">Confirmation of Sale</h1>

<p>&nbsp;</p>

<p>Our ref: crd/159074/sn/mnh<br />
1 February 2017</p>

<p>CIMB Bank Berhad<br />
CIMB Bank Menara Bumiputra-Commerce&nbsp;<br />
No. 11, Jalan Raja Laut<br />
50350 Kuala Lumpur</p>

<p>Attn: John Doe</p>

<p>Dear Sir,</p>

<p>&nbsp;</p>

<p style="text-align:center"><strong>Confirmation of Sale</strong></p>

<p style="text-align:center">We refer to the telephone conversation between your Mr. John Doe and our En.<br />
Muhammad Noor Hakim regarding your offer of Housing Loans for sale to Cagamas Berhad<br />
and hereby confirm our acceptance thereof on the terms set out below:</p>

<p style="text-align:center"><strong>Mortgage - Floating Rate</strong></p>

<table align="center" cellspacing="0" style="border-collapse:collapse; border:none; width:366pt">
	<tbody>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap; width:206pt">1. Estimated Purchase Value</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap; width:160pt">: RM 300.00 million</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">2. Purchase Contract Date</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 1/2/2017</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">3. Purchase Contract No.</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: T-127/000/2701/179074/TL1</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">4. Purchase Date</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 1/2/2017</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">5. Review Date</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 31/1/2022</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">6. Cagamas Date</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 4.16 %</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">7. Benchmark on Which the Cagamas Rate</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 3 Month KLIBOR</td>
		</tr>
		<tr>
			<td style="height:15pt">&nbsp;&nbsp;&nbsp; is Indexed</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">8. Source of Information of the benchmark</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: Reuters</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">9. Margin</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 0.42%</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">10. 1st Reset Date</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: 1/3/2017</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">11. Reset Frequency</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: Quarterly</td>
		</tr>
		<tr>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">12. Repayment Frequency</td>
			<td style="height:15pt; vertical-align:bottom; white-space:nowrap">: Quarterly Principal and Interest</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:800px">
	<tbody>
		<tr>
			<td style="text-align:center">Yours Sincerely,</td>
			<td style="text-align:center">Confirmed By:</td>
		</tr>
		<tr>
			<td style="text-align:center">Cagamas Berhad</td>
			<td style="text-align:center">CIMB Bank Berhad</td>
		</tr>
		<tr>
			<td>
			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center">[Authorised signatories]</p>
			</td>
			<td>
			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center">&nbsp;</p>

			<p style="text-align:center">[Authorised signatories]</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>Note : Please quote our reference number when replying</p>

<p>#If the Review Date is not a business day, the due date for payment shall be made on the business day immediately preceeding the due date.</p>

</div>
<div style="clear:both;"></div>
<hr/>
<div class="demo-grid-sizes demo-flex-display">
  <div class="oj-flex oj-flex-items-pad">
    <div class="oj-sm-12 oj-md-12 oj-lg-5 oj-flex-item"></div>
    <div class="oj-sm-12 oj-md-6  oj-lg-3 oj-flex-item">
<button  id= "btn_print" class="action-button-3" data-bind="ojComponent: { component: 'ojButton', label: 'Print' }">
    </button>
<button id= "btn_back" class="action-button-3" data-bind="click: redirectToPC, ojComponent: { component: 'ojButton', label: 'Back' }">
    </button>

    </div>
    <div class="oj-sm-12 oj-md-6  oj-lg-4 oj-flex-item"></div>
  </div>
</div>