<!DOCTYPE html>

<div id="form-container">
    <div class="oj-flex">  
        <div class="oj-flex-item">
            <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                <div class="oj-flex">  
                    <div class="oj-flex-item"> 
                        <img src="img/cagamas-logo-new_0.png"/>      
                    </div>
                    <div class="oj-flex-item"> 
                        <label for="EI"><b>Mortgage Guarantee Program - 123/MGP-SRP/012017/001</b></label>
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">  
                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                            <h4><b>Generate Transaction Document</b></h4>
                            <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >    
                                <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                    <div class="oj-flex-item">   
                                        <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="EI">CDS Confirmation and Confirmation Schedule</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <button id= "cdsButton" data-bind="click: generatecds,ojComponent: {component: 'ojButton', label: 'Generate' } ">
                                                    </button>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="Contract">Guarantee Notice</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <button id= "gurantee" data-bind="click: generategurantee,ojComponent: {component: 'ojButton', label: 'Generate' } ">
                                                    </button>
                                                </div>
                                            </div> 
                                            <div class="oj-flex alignright">  
                                                  <div class="oj-flex-item">
                                                      <label for="Contract">&nbsp;</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <button id= "back" data-bind="click: back,ojComponent: {component: 'ojButton', label: 'Back' } ">
                                                    </button>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>                            

                                </div>

                            </div>
                        </div>    
                    </div>
                </div> 

            </div>    


        </div>
    </div> 
</div>

