<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div id="pagingControlDemo" class="page-content">
    <table id="table" summary="Department List" aria-label="Departments Table"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [{headerText: 'Master ID', field: 'MasterId',style: 'width: 10%'},
             {headerText: 'Master Name', field: 'MasterName'},
             {headerTemplate: 'oracle_action_hdr', template: 'oracle_action', style: 'width: 10%;text-align:center;'}], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>

<script type="text/html" id="oracle_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Action
    </th>
</script>
<script type="text/html" id="oracle_action">
    <td>
        <a href="http://www.oracle.com">View</a>
    </td>
</script>