<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div id="mgpmsad01Full" class="page-content">


    

<div class="demo-flex-display oj-flex-items-pad">
  
  <div class="oj-flex oj-sm-flex-items-initial   oj-sm-justify-content-center">
    <div class="oj-flex-item">
     
 <div id="form-container">       
     
 

     
        
        Counter Party   <input id="partycombobox" list="msadparty"  title="Counter Party" 
           data-bind="ojComponent: {component: 'ojCombobox',  value : partyVal , selected : partyVal , 
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadparty">
		<option value="MY">Malaysia bank</option>
		<option value="IN">Indian Bank</option>
		<option value="SIN">Singapore Bank</option>
		<option value="ST">Standard Chartered</option>
 
	</datalist>
        
<!--        Counter Party Group : <label data-bind="text: partyGrpVal() , width: '100px'" ></label>-->
        
        Product   <input id="prdcombobox" list="msadprd"  title="" 
           data-bind="ojComponent: {component: 'ojCombobox',  
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadprd">
		<option value="MY">MGP SRP</option>
		<option value="IN">MGP RI</option>	 
		<option value="ST">MGP TT</option>
 
	</datalist>
    </div>
   
    
    </div>
  </div>
  <div class="oj-flex oj-sm-flex-items-initial 
              oj-sm-only-justify-content-center oj-md-only-justify-content-center" >
    <div class="oj-flex-item">


    
    </div>
  </div>
    
    
     
    
    
  <div   class="oj-flex oj-sm-flex-items-initial 
              oj-lg-justify-content-center" >
    <div class="oj-flex-item" >
        <span  >
       <input  type="file"/>
       
             <button  id="flUpload"  
                
                data-bind=" ojComponent:{component:'ojButton', label: 'Upload'}"    ></button>
     
       
      <button id="changeLabel" 
      data-bind="click: sendNotification,  ojComponent: {
        component: 'ojButton',  
        label: 'Send Notification'}"></button>
        
       <button  id="changeLabel2"  
                
                data-bind="click: doUpload, ojComponent:{component:'ojButton', label: 'Validate Asset'}"    ></button>
        </span>
        
        <br>
        
       
          <div id="radioSetId"   
               aria-labelledby="radiosetlabel"
               data-bind="ojComponent: {
                 component: 'ojRadioset'}">
            <span class="oj-choice-row-inline">
              <input id="blueopt" type="radio" name="rbb" 
                     value="D">
              <label for="blueopt">Fully Disbursed Asset</label>
            </span>
              
                  <span class="oj-choice-row-inline">
              <input id="bluet" type="radio" name="rbb" 
                     value="C">
              <label for="bluet">Closed Asset</label>
            </span>
              
                  <span class="oj-choice-row-inline">
              <input id="bwwt" type="radio" name="rbb" 
                     value="V">
              <label for="blueopt">Validated Asset</label>
            </span>
              
              
            <span class="oj-choice-row-inline">
              <input id="greenopt" type="radio" name="rbb" 
                     value="F">
              <label for="greenopt">Failed Asset</label>
            </span>
            <span class="oj-choice-row-inline">
              <input id="redopt" type="radio" name="rbb" 
                     value="A" checked>
              <label for="redopt">All Asset</label>
            </span>
       
      </div>
        
        
    </div>
  </div>
    
    
    
    
    <div class="oj-panel oj-margin demo-mypanel"   >
 
        <h3 class="oj-header-border">Servicing Details
         <button id="ff" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Export'}"></button>
            
              <button id="tprint" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Print'}"></button>
            
            <button id="tprt" class="diaOpener" 
      data-bind=" ojComponent: {
        component: 'ojButton',  
        label: 'Submit for Approval'}"></button>
        
        </h3>
        
        <div  >

    <div    >
        
          <div class="oj-flex">
              <div    >
                  <label >Period :</label>
        </div>
                 <div  >
                <input id="mnthcombobox" list="msadmonths"  title="Months" 
           data-bind="ojComponent: {component: 'ojCombobox', 
                              
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadmonths">
		<option value="Jan">Jan</option>
		<option value="Feb">Feb</option>
		<option value="March">March</option>
		<option value="April">April</option>
		<option value="May">May</option>
	</datalist>
           
           <input id="yrscombobox" list="msadyrs"  title="Months" 
           data-bind="ojComponent: {component: 'ojCombobox', 
                                        
                                    rootAttributes: {style:'max-width:10em'}}"/>
	<datalist id="msadyrs">
		<option value="2011">2011</option>
		<option value="2012">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
	</datalist>
                 </div>
          </div>
      <div class="oj-flex">
        <div  >
          <label  >Total Fee Amount :</label>
        </div>
        <div class="oj-flex-item">
          21312123.00    </div>
      </div>
        <div class="oj-flex">
        <div  >
          <label  >Status :</label>
        </div>
        <div class="oj-flex-item">
            <a class="diaOpener" id="textStatus" >Not Submitted for Approval </a>  </div>
      </div>
        
 
        
    </div>
         </div>
        
        
        
        
        
        <div>
       
 



                
            <div id="msad01Rg" class="page-content"  >
            
        <table id="msad01Tbl" summary=" MSAD Upload File" aria-label="MSAD Upload File"
           data-bind="ojComponent: {component: 'ojTable', data: msad01DS, columns:
            [
        
   { headerText: 'S No'  ,  field: 'srlNo'}, 
{ headerText: 'Eligible Institution'  ,  field: 'ElgIns'}, 
{ headerText: 'Loan Referance No'  ,  field: 'loanRefNo'}, 
{ headerText: 'Purchase Contract No'  ,  field: 'contractNo'}, 
 
{ headerText: 'Fee Amount'  ,  field: 'apprvAmt'}, 
 
{ headerText: 'GST Capital'  ,  field: 'lastOutstdCapAmt'}, 
{ headerText: 'Payable Amount'  ,  field: 'totAmtDueOblr'} 
         ],                                  
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="msad01Pg" data-bind="ojComponent: {component: 'ojPagingControl', data: msad01DS, pageSize: 15}">
    </div>
</div>
    
            
            
      </div>
    </div>
    
    
    
  <div style="display:none ; width:400px" id="modalDialog1"     title="Guarantee Fee Payment Approval Request" 
       data-bind="ojComponent:{component: 'ojDialog',  }">
     <div   style="width:400px"  class="oj-dialog-body">
    
         
         <div class="oj-form-layout">

    <div class="oj-form oj-sm-odd-cols-200 oj-md-odd-cols-6 oj-md-labels-inline
                oj-form-cols-labels-inline oj-form-cols-max40"    >
        
          <div class="oj-flex">
              <div  style="width:400px" class="oj-flex-item">
          <label >Note : Once the report Submitted , data can not be modified.</label>
        </div>
          </div>
      <div class="oj-flex">
        <div class="oj-flex-item">
          <label for="inputcontrol">Generate Document Approval Memo</label>
        </div>
        <div class="oj-flex-item">
          <button data-bind="ojComponent: {component: 'ojButton', label: 'Generate'}"> </button>
        </div>
      </div>
        
 
        
    </div>
         </div>
         
         
     </div>
     <div class="oj-dialog-footer">
        <button id="okButton" data-bind="ojComponent: {component: 'ojButton', label: 'Submit'}"> </button>
          <button id="canelButton" data-bind="ojComponent: {component: 'ojButton', label: 'Cancel'}"> </button>
      </div>
  </div>
  
  <script type="text/html" id="oracle_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Select
    </th>
</script>
<script type="text/html" id="oracle_action">
    <td> 
        
     
           <input name="ddd" id="sdsd" value="Sdsds"  type="checkbox">  </input>
    </td>
</script> 

</div>
</div>
