<!DOCTYPE html>

<div id="form-container">
    <div class="oj-flex">  
        <div class="oj-flex-item">
            <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >  

                <img src="img/cagamas-logo-new_0.png"/>      
                  <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                                <div class="oj-flex-item">   
                                    <div class="oj-form oj-md-labels-inline alignright">
                                        <div class="oj-flex">                        
                                            <div class="oj-flex-item">
                                                <button id= "create" data-bind="click:save,ojComponent: { component: 'ojButton', label: 'Save' }">
                                                </button>
                                                <button id= "cancel" type="reset" data-bind="ojComponent: { component: 'ojButton', label: 'Cancel' }">
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>   
                            </div> 
                <div class="oj-flex">  
                    <div class="oj-flex-item">  
                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                            <h4><b>Header</b></h4>
                          
                            <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >  

                                <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      

                                    <div class="oj-flex-item">   
                                        <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline oj-label-nowrap">
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="contractLbl">MGP Contract Number</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <label for="contractNum" data-bind="text: mgpContractNum"></label>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="revIdlbl">Revision ID</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <label for="revId">1</label>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="revDatelbl">Revision Date</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <label for="revDate">12/01/2015</label>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="EISearch">Eligible Institution</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="EISearchCmp" placeholder="Search EI..."
                                                           data-bind="ojComponent: {
                                                            component: 'ojInputSearch',
                                                            value: eiName,
                                                            options: eitags,
                                                            rootAttributes: {style:'max-width: 20em'}}">
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="appNumlbr">Application Number</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="appNumb" type="text" data-bind="ojComponent: {component : 'ojInputText'}"/>
                                                </div>
                                            </div> 
                                           <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="EISearch">T6Code</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="EISearchCmp" placeholder="Search T6Code..."
                                                           data-bind="ojComponent: {
                                                            component: 'ojInputSearch',
                                                            value: t6code,
                                                            options: t6tags,
                                                            rootAttributes: {style:'max-width: 20em'}}">
                                                </div>
                                            </div>          
                                        </div>
                                    </div>                            
                                    <div class="oj-flex-item">   
                                        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline oj-label-nowrap">
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="Product">Product</label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="prdSearch" placeholder="Search Product..."
                                                           data-bind="ojComponent: {
                                                            component: 'ojInputSearch',
                                                            value: product,
                                                            options: prdtags,
                                                            rootAttributes: {style:'max-width: 20em'}}">
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="prdGrplbl">Product Group : </label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <select id="prdGrp" data-bind="ojComponent: {component: 'ojSelect', options: productgrp}"></select>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="caidrprtdatelbl">CAID Report Date </label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="caidrprtdate" data-bind="ojComponent: {component: 'ojInputDate'}"/>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="tradedatelbr">Trade Date </label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="traddate" data-bind="ojComponent: {component: 'ojInputDate'}"/>
                                                </div>
                                            </div> 
                                            <div class="oj-flex">  
                                                <div class="oj-flex-item">
                                                    <label for="schdlrlbl">Schedule Termination Date </label>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <input id="schdlrTermination" data-bind="ojComponent: {component: 'ojInputDate'}"/>
                                                </div>
                                            </div>     
                                        </div>
                                    </div>
                                    <div class="oj-flex">

                                        <div class="oj-flex-item">   
                                            <div class="oj-form oj-md-labels-inline oj-label-nowrap">
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item ">
                                                        <label for="capitalAmtLbl">Total Original Capital Amount : </label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <label for="capitalAmt" data-bind="text: originalCapAmt"></label>
                                                    </div>
                                                </div> 
                                                <!--    <br>
                                                    <div class="oj-flex">  
                                                        <div class="oj-flex-item">
                                                            <label for="utstandinglbr">Total Outstanding Capital Amount : </label>
                                                        </div>
                                                        <div class="oj-flex-item">
                                                            <label for="Outstanding">200,000,000.00</label>
                                                        </div>
                                                    </div> -->
                                                <br>
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="guranteeFeeLbr">Total Guarantee Fee : </label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <label for="guranteeFee" data-bind="text:totalGuranteeFee"></label>
                                                    </div>
                                                </div> 
                                                <br>
                                                <div class="oj-flex">  
                                                    <div class="oj-flex-item">
                                                        <label for="statusLbl">Status : </label>
                                                    </div>
                                                    <div class="oj-flex-item">
                                                        <label for="status" data-bind="text: contractStauts"></label>
                                                    </div>
                                                </div> 

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                <div class="oj-flex-item">   
                                    <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                                        <div class="oj-flex">                        
                                            <div class="oj-flex-item">

                                            </div>
                                        </div>

                                    </div>
                                </div>    

                            </div>

                            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      


                                <div class="oj-flex-item">   
                                    <div class="oj-form oj-md-labels-inline">
                                        <div class="oj-flex">   
                                        </div>
                                    </div>
                                </div>   


                                <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel ">   
                                    <div class="oj-flex-item">   
                                        <div class="oj-form oj-md-labels-inline" id="assetDataForm">
                                            <div class="oj-flex">                        
                                                <div class="oj-flex-item">
                                                   
                                                    <input type="file"/>
                                                    <button id= "upload" data-bind="click:upload,ojComponent: { component: 'ojButton', label: 'Upload' }">
                                                    </button>
                                                    <button id= "create" data-bind="click:validate,ojComponent: { component: 'ojButton', label: 'Validate Asset' }">
                                                    </button>
                                                    <label>&nbsp;&nbsp;&nbsp;</label>
                                                    <div id="mgpAssets" aria-labelledby="mainlabelid"
                                                         data-bind="ojComponent: {component: 'ojRadioset',optionChange:assetDataEvent},value: currentValue">
                                                        <span>
                                                            <input id="validatedAsset" type="radio" name="assetData" value="Validated"/>
                                                            <label for="validatedAsset">Validated Asset</label>            

                                                            <input id="failed" type="radio" name="assetData" value="Failed">
                                                            <label for="failed">EC Failed Asset</label>

                                                            <input id="all" type="radio" name="assetData" value="All">
                                                            <label for="all">All Assets</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                            </div>                          
                            <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" >                      
                                <div class="oj-flex-item">   
                                    <div class="oj-form oj-md-labels-inline">

                                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                                            <h4><b>Attachments</b></h4>
                                            <div class="oj-flex">      
                                                <div class="oj-flex-item">
                                                     <label for="fileType">File Type:</label>
                                                     <select id="fileType" data-bind="ojComponent: {component: 'ojSelect',options: fileTypes}"></select>                                                
                                                    <input type="file"/>
                                                    <button id= "add" data-bind="click:addAttachment,ojComponent: { component: 'ojButton', label: '&nbsp;&nbsp;Add' }">
                                                    </button>
                                                </div>
                                                <div class="oj-flex-item">
                                                    <table id="table" summary="Attachments" aria-label="Attachemnts"
                                                           data-bind="ojComponent: {component: 'ojTable', 
                                data: attachmentds, 
                                   display: 'grid',
                                columns: [
                                           {headerText: 'File Name', field: 'AttachmentName'},
                                            {headerText: 'Type', field: 'Type'},
                                           {headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'}
                                         ],
                                scrollPolicy: 'loadMoreOnScroll',
                                scrollPolicyOptions: {'fetchSize': 10},
                                rootAttributes: {'style':'height: 200px;width: 350px;'}}">
                                                    </table>
                                                </div>

                                            </div>

                                        </div>
                                        <h4><b>Navigation Links</b></h4>
                                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   

                                            <div class="oj-flex">                        
                                                <div class="oj-flex-item">
                                                    <a href="?root=generatetransdoc">Generate Transaction Document</a> 
                                                    <br>
                                                    <a href="?root=mgpsummaryreport">Summary Report</a> 
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>   
                                <div class="oj-flex-item">   
                                    <div class="oj-form oj-md-labels-inline">
                                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                                            <div class="oj-flex">                        
                                                <div class="oj-flex-item">
                                                    <button id= "amend" data-bind="ojComponent: { component: 'ojButton', label: 'Amend' }">
                                                    </button>
                                                    <button id= "revalidate" data-bind="ojComponent: { component: 'ojButton', label: 'Re-Validate' }">
                                                    </button>
                                                    <button id= "guranteeFee" data-bind="click:calculateGuranteFee,ojComponent: { component: 'ojButton', label: 'Calculate Gurantee Fee' }">
                                                    </button>

                                                    <button id= "approval" data-bind="click:approve,ojComponent: { component: 'ojButton', label: 'Send For Approval' }">
                                                    </button>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="oj-panel oj-margin oj-panel-alt2 demo-mypanel" >   
                                            <h4><b>Asset Details</b></h4>
                                            <div class="oj-flex">                        
                                                <div class="oj-flex-item">
                                                    <table id="table" summary="Asset Details" aria-label="Assets"
                                                           data-bind="ojComponent: {component: 'ojTable', 
                                data: assetds, 
                                display: 'grid',
                                columns: [
                                           {headerText: 'Asset ID', field: 'AssetId'},
                                           {headerText: 'Product Group', field: 'prdGrp'},
                                           {headerText: 'Original Capital Amount', field: 'orgCapAmnt'},
                                           {headerText: 'Original Asset Value', field: 'orgAssetVal'},
                                           {headerText: 'Total Asset Value', field: 'totalAssetVal'},
                                           {headerText: 'Lending/Rate of Return', field: 'ror'}
                                         ],
                                scrollPolicy: 'loadMoreOnScroll',
                                scrollPolicyOptions: {'fetchSize': 10},
                                rootAttributes: {'style':'height: 300px;width: 850px;'}}">
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="oj-flex">                        
                                            <div class="oj-flex-item">
                                                <button id= "export" data-bind="click:assetDataExport,ojComponent: { component: 'ojButton', label: 'Export' }">
                                                </button>
                                                <button id= "Print" data-bind="click:create,ojComponent: { component: 'ojButton', label: 'Print' }">
                                                </button>

                                            </div>
                                        </div>
                                    </div>   


                                </div>                             
                            </div>    
                        </div>
                    </div> 

                </div>    


            </div>
        </div> 
    </div>
    <script type="text/html" id="view_action_hdr">
        <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
            Action
        </th>
    </script>
    <script type="text/html" id="view_action">
        <td>
            <button id= "btn_PI"
                    data-bind="click: buttonClick, 
                       ojComponent: { component: 'ojButton', label: 'Delete' }">
            </button>
        </td>
    </script>
