<div class="oj-form-layout" id="form-container">
    <div class="page-title">
        <label class="white-color" data-bind="text:header"></label>
    </div>
    <br>
    <div class="page-content oj-form oj-md-labels-inline oj-md-labels-nowrap oj-form-no-dividers oj-lg-form-across
                   oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-lg-odd-cols-2 oj-lg-even-cols-4">  
        <div class="oj-flex" id="pwr-row-1">
            <div class="oj-form-layout" style="width:100%;">
                <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
                    <div class="oj-flex-item">
                        <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-2 oj-lg-even-cols-10 oj-lg-labels-inline">
                            <div class="oj-flex">
                                <div class="oj-flex-item">
                                    <label for="date">Review Month</label>
                                </div>
                                <div class="oj-flex-item">
                                    <input id="date"
                                           data-bind="ojComponent: {component: 'ojInputDate', value: startDate, required: true, converter: dateConverter}"/>
                                     to 
                                    <input id="date"
                                           data-bind="ojComponent: {component: 'ojInputDate', value: endDate, required: true, converter: dateConverter}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="oj-flex" id="pwr-row-2">
            <div class="button-wrapper" style="width:70%">
                <button id= "button" class="action-button-h"
                        data-bind="click: onClickSearch, 
                            ojComponent: {component: 'ojButton', label: 'Search', childAttributes:{style:'white-space: normal;'}}">
                </button>
                <button id= "button" class="action-button-h"
                        data-bind="click: onClickReset, 
                            ojComponent: {component: 'ojButton', label: 'Reset', childAttributes:{style:'white-space: normal;'}}">
                </button>
            </div>
        </div>
        <br>
        <div class="oj-flex" id="pwr-row-3">
            <div class="button-wrapper" style="width:70%">
                <button id= "button" class="action-button-h"
                        data-bind="click: onClickSave, 
                            ojComponent: {component: 'ojButton', label: 'Save', childAttributes:{style:'white-space: normal;'}}">
                </button>
                <button id= "button" class="action-button-h"
                        data-bind="click: onClickCancel, 
                            ojComponent: {component: 'ojButton', label: 'Cancel', childAttributes:{style:'white-space: normal;'}}">
                </button>
            </div>
        </div>
        <div class="oj-flex" id="pwr-row-4">
            <table id="table" summary="Reconciliation" aria-label="Reconciliation"
                   data-bind="ojComponent: {component: 'ojTable', data: datasource, columns:
                    [{headerText: 'Review Month', field: 'ReviewMonth'},
                     {headerText: 'Counterparty', field: 'Counterparty'},
                     {headerText: '1st Notification', field: 'firstNotif'},
                     {headerText: '2nd Notification', field: 'secondNotif'},
                     {headerText: '3rd Notification', field: 'thirdNotif'},
                     {headerText: 'Final Letter', field: 'FinalLetter'},
                     {headerText: 'Files Received', field: 'FilesReceived'},
                     {headerText: 'Date Received', field: 'DateReceived'},
                     {headerTemplate: 'attachment_hdr', template: 'attachment_item'}],
                     rootAttributes: {'style':'width: 100%;'}}">
            </table>
        </div>
    </div>
    <div class="blank-footer">
    </div>
</div>
<div style="display:none" id="AttachmentDialog" title="Attachments"
     data-bind="ojComponent: {component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',rootAttributes: { style: 'width:900px; height: 400px;'}}">
    <div class="oj-dialog-body">
        <div id="CounterPartyPopUp">
            <h3></h3>
            <div class="oj-flex">
                <table id="table" summary="Attachment" aria-label="Attachment"
                       data-bind="ojComponent: {component: 'ojTable', data: docDatasource, columns:
                        [{headerText: 'Document Type', field: 'DocumentType'},
                         {headerText: 'Document Name', field: 'DocumentName'},
                         {headerText: 'Upload Date', field: 'UploadDate'},
                         {headerTemplate: 'document_hdr', template: 'document_item'}],
                         rootAttributes: {'style':'width: 100%;'}}">
                </table>
            </div>
            <br/>
            <div class="oj-flex" style='margin:10px 0 10px auto; width:45%;'>
                <button id="button" style='margin:5px;'
                        data-bind="click: onClickClose,
                        ojComponent: {component: 'ojButton', label: 'Close' }"></button>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="attachment_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Attachments
    </th>
</script>
<script type="text/html" id="attachment_item">
    <td>
        <button id="button" style='margin:5px;'
                            data-bind="click: $parent.onClickAttachment,
                            ojComponent: {component: 'ojButton', label: '>' }">
        </button>
    </td>
</script>

<script type="text/html" id="document_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        View Document
    </th>
</script>
<script type="text/html" id="document_item">
    <td>
        <button id= "viewDocBtn"
            data-bind="click: $parent.onClickViewDocument, ojComponent: { component: 'ojButton', label: 'View' }">
        </button>
    </td>
</script>