<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div style="width:100%;display: flex;">
    <div class="two-cols" style="margin:10px 20px; display:flex;">
        <div style="margin-left:20px;width:15%;vertical-align:middle;line-height: 32px;">
        Search
        </div>
        <div style="width:85%;">
            <div style="width:50%;" class="oj-inputsearch-choice">
                <input class="oj-inputsearch-input" id="inputSearch" placeholder="Search keyword"
                   type="search"/>
                <a class="oj-inputsearch-search-button oj-inputsearch-search-icon oj-component-icon 
                oj-clickable-icon-nocontext" role="button" aria-label="search"></a>
            </div>
        </div>
    </div>
    <div class="two-cols">
        <button id= "rateISButton" class="action-button-h" style="float:right;margin-right:20px;"
                data-bind="click: onClickNew, 
                    ojComponent: {component: 'ojButton', label: 'New', childAttributes:{style:'white-space: normal;'}, disabled: self.rateISBtn}">
        </button>
    </div>
</div>
<br>    
<div id="pagingControlDemo" class="page-content">
    <table id="table" summary="Origination List" aria-label="Origination Table"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [{headerText: 'Product Type', field: 'ProductType'},
             {headerText: 'Counter Party Name', field: 'CounterPartyName'},
             {headerText: 'Currency', field: 'Currency', style: 'width: 5%'},
             {headerText: 'Purchase Amount', field: 'PurchaseAmount'},
             {headerText: 'Status', field: 'OriginationStatus', style: 'width: 10%'},
             {headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'}], 
             rootAttributes: {'style':'width: 100%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
</div>
<script type="text/html" id="view_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Action
    </th>
</script>
<script type="text/html" id="view_action">
    <td>
        <button id= "btn_PI"
            data-bind="click: $parent.buttonClick, 
                       ojComponent: { component: 'ojButton', label: 'View Details' }">
        </button>
    </td>
</script>