<div id="form-container">
<div class="page-title"><label class="white-color" data-bind="text:header"></label>
</div>


  <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-4 oj-lg-even-cols-6 oj-lg-labels-inline">   
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="A1control">Product Group</label>
          </div>
          <div class="oj-flex-item">
            <input id="A1control" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'Conventional', required: false, disabled:true}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A2control">Product Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="A2control" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'PWR', required: false}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A3control">Counterparty</label>
          </div>
          <div class="oj-flex-item">
            <input id="A3control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: selectedCP,
                                            rootAttributes: {
                                               style:'max-width:72%'
                                            }}">
            <button id="buttonCPOpener" 
                data-bind="click: openCPPopUp, ojComponent: {
                    component:'ojButton',
                    icons: {start:'fa fa-search'}
                }"></button>
          </div>
        </div>
         <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A4control">Asset Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="A4control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options: assetType}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="A5control">Purchase Mode</label>
          </div>
          <div class="oj-flex-item">
            <input id="A5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : purchaseMode, optionChange: purchaseModeOptionChangedHandler}">
          </div>
        </div>
         <div class="oj-flex hidden" id="row_vendor"> 
          <div class="oj-flex-item">
            <label for="A6control">Vendor</label>
          </div>
          <div class="oj-flex-item">
            <input id="A6control" type="text"
                   data-bind="ojComponent: {component: 'ojInputText', value: selectedVendor,
                                            rootAttributes: {
                                               style:'max-width:72%'
                                            }}">
            <button id="buttonVendorOpener" 
                data-bind="click: openVendorPopUp, ojComponent: {
                    component:'ojButton',
                    icons: {start:'fa fa-search'}
                }"></button>
          </div>
        </div>
        </div>
    </div>                               
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-even-cols-6  oj-lg-labels-inline"> 
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B1control">Currency</label>
          </div>
          <div class="oj-flex-item">
            <input id="B1control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value: selectCurrencyVal, options: currency, optionChange: currencyOptionChangedHandler }">
          </div>
        </div>
        <div class="oj-flex hidden" id="row_foreignCurrencyAmount"> 
          <div class="oj-flex-item">
            <label for="B2control">Foreign Currency Amount</label>
          </div>
          <div class="oj-flex-item">
            <input id="B2control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:'-'}">
          </div>
        </div>
        <div class="oj-flex hidden" id="row_exchangeRate"> 
          <div class="oj-flex-item">
            <label for="cbx_exchange_rate">Exchange Rate</label>
            </div>
            <div class="oj-flex-item">
            <div class="oj-flex-item">
            <div id="checkboxSetAgreeIdForm" aria-labelledby="agreeIdForm" 
             data-bind=
             "ojComponent: {
            component: 'ojCheckboxset', value:override}" >
          <span class="oj-choice-row">
            <input id="cbx_override" type="checkbox" value="true">
            <label for="checkboxSetAgreeIdForm">Override </label>
          </span>
        </div>
        <input id="cbx_exchange_rate" 
                   data-bind="ojComponent: {component: 'ojInputText', value:exchangeRateValue, disabled:exchangeRateDisabled,
                                            rootAttributes: {
                                               style:'max-width:65%'
                                            }}">
            </div>
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B4control">Purchase Amount</label>
          </div>
          <div class="oj-flex-item">
            <input id="B4control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:'33,000,000'}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B5control">Payment Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B5control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options: paymentType}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B6control">Rate Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="B6control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : rateType}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B7control">Payment Frequency</label>
          </div>
          <div class="oj-flex-item">
            <input id="B7control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options: paymentFrequency}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B8control">Pricing Factor</label>
          </div>
          <div class="oj-flex-item">
            <input id="B8control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:selectedPricingFactor, options: pricingFactor, optionChange: pricingFactorOptionChangedHandler}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="B9control">Pricing Factor Rate (%)</label>
          </div>
          <div class="oj-flex-item">
            <input id="B9control" 
                   data-bind="ojComponent: {
              component: 'ojInputNumber', 
              value: pricingFactorRate, 
              step: .01,
              converter: {
                type: 'number', 
                options: {
                min:0,
                  style:'percent',
                  maximumFractionDigits: 2, 
                  useGrouping: false, 
                  pattern: '##,##0.00'}}}">
          </div>
        </div>
      </div>
    </div>
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-6 oj-lg-even-cols-6 oj-lg-labels-inline"> 
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="C1control">Purchase Consideration Type</label>
          </div>
          <div class="oj-flex-item">
            <input id="C1control" 
                   data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options: purchaseConsiderationType}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="C2control">Purchase Date</label>
          </div>
          <div class="oj-flex-item">
            <input id="C2control" 
                   data-bind="ojComponent: {
                   component: 'ojInputDate', value: purchaseDateValue}">
          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="C3control">Tenure</label>
          </div>
          <div class="oj-flex-item">
            <input id="C3control" 
                   data-bind="ojComponent: {component: 'ojInputText',
                                            rootAttributes: {
                                               style:'max-width:20%'
                                            }, 
                                            value:tenureYear, required: false}">
            <label for="C3control">Years</label>

          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="C3control"></label>
          </div>
          <div class="oj-flex-item">
            <input id="C3control" 
                   data-bind="ojComponent: {component: 'ojInputText',
                                            rootAttributes: {
                                               style:'max-width:20%'
                                            }, 
                                            value:tenureMonth, required: false}">
            <label for="C3control">Months</label>

          </div>
        </div>
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="C5control">Review Date</label>
          </div>
          <div class="oj-flex-item">
            <input id="C5control" 
                   data-bind="ojComponent: {
                   component: 'ojInputDate', value: reviewDateValue}">
          </div>
        </div>
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="C6control">Status</label>
          </div>
          <div class="oj-flex-item">
            <input id="C6control" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value: PIstatus, required: false, disabled:true}">
          </div>
        </div>
      </div>
    </div>
  </div>

          <hr/>
  <div class="page-button-wrapper" id='buttons-container'>
  <div class="page-button-inner"> 
<button  id= "btn_save" class="action-button-3" data-bind="ojComponent: { component: 'ojButton', label: 'Save' }">
    </button>
<button id= "btn_cancel" class="action-button-3" data-bind="ojComponent: { component: 'ojButton', label: 'Cancel' }">
    </button>
<button id= "btn_next" class="action-button-3" data-bind="click: nextClick, ojComponent: { component: 'ojButton', label: 'Next' }">
    </button>
<button  class="hidden action-button-3" id= "btn_validate" data-bind="click: validateClick, ojComponent: { component: 'ojButton', label: 'Validate' }">
    </button>
<button class="hidden action-button-3" id= "btn_upload_loan" data-bind="click: redirectToUploadLoan, ojComponent: { component: 'ojButton', label: 'Upload Loan Details' }">
    </button>
<button class="hidden action-button-3" id= "btn_temp_pc" data-bind="ojComponent: { component: 'ojButton', label: 'Create Temporary Purchase Contract' }">
    </button>

    </div>
</div>

    <div style="display:none" id="CPDialog" title="Select Counterparty" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:900px; height: 500px;'}
		  }">
     <div class="oj-dialog-body">
     <div id="CounterPartyPopUp">
     
  <div class="oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-labels-inline">   
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="PopUp1control">Counterparty Code</label>
          </div>
          <div class="oj-flex-item">
            <input id="PopUp1control" 
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:''}">
          </div>
        </div>
        <div class="oj-flex">  
          <div class="oj-flex-item">
            <label for="PopUp2control">Counterparty Type</label>
          </div>
          <div class="oj-flex-item">
               <input id="PopUp2control" 
               data-bind="ojComponent: {component: 'ojCombobox', value: selectCurrencyVal, options: counterPartyType, optionChange: currencyOptionChangedHandler }">
          </div>
        </div>
        </div>
    </div>                               
    <div class="oj-flex-item">
      <div class="oj-form oj-sm-odd-cols-12 oj-lg-odd-cols-5 oj-lg-labels-inline"> 
        <div class="oj-flex"> 
          <div class="oj-flex-item">
            <label for="PopUp3control">Counterparty Name</label>
          </div>
          <div class="oj-flex-item">
            <input id="PopUp3control" 
                   data-bind="ojComponent: {component: 'ojInputText', value:''}">
          </div>
        </div>
        </div>
    </div>
    </div>
      <div class="oj-flex oj-lg-flex-items-1 pull-right">                      
          <div class="oj-flex-item">
          <div class="page-button-wrapper">
              <button id= "btn_search" data-bind="ojComponent: { component: 'ojButton', label: 'Search' }"></button>    
              <button id= "btn_reset" data-bind="ojComponent: { component: 'ojButton', label: 'Reset' }"></button>
          </div>
          </div>
</div>

       <table id="table" summary="Counterparty" aria-label="Counterparty"
           data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columns:
            [{headerTemplate: 'view_action_hdr', template: 'view_action', style: 'width: 10%;text-align:center;'},
             {headerText: 'Code', field: 'CPCode'},
             {headerText: 'Name', field: 'CPName'},
             {headerText: 'Group', field: 'CPGroup'},
             {headerText: 'Type', field: 'CPType'},
             {headerText: 'Financial Review Group', field: 'FRGroup'}],
             rootAttributes: {'style':'width: 98%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 15}">
    </div>
    </div>
  </div>
</div>


<script type="text/html" id="view_action_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Action
    </th>
</script>
<script type="text/html" id="view_action">
    <td>
        <button id= "btn_PI"
            data-bind="click: cpLookUpClick, ojComponent: { component: 'ojButton', label: 'Select' }">
        </button>
    </td>
</script>


 <div style="display:none" id="VendorDialog" title="Select Vendor" 
       data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide',  modality: 'modeless',
		  rootAttributes: { style: 'width:900px; height: 500px;'}
		  }">
     <div class="oj-dialog-body">
     <div id="VendorPopUp">
           <table id="table" summary="Vendor" aria-label="Vendor"
           data-bind="ojComponent: {component: 'ojTable', data: vendorPagingDatasource, columns:
            [{headerTemplate: 'view_action_hdr_vendor', template: 'view_action_vendor', style: 'width: 10%;text-align:center;'},
             {headerText: 'Vendor Code', field: 'VendorCode'},
             {headerText: 'Vendor Name', field: 'VendorName'},
             {headerText: 'Vendor Email', field: 'VendorEmail'},
             {headerText: 'Vendor Phone', field: 'VendorPhone'},
             {headerText: 'Vendor Contact Person', field: 'VendorCPName'}],
             rootAttributes: {'style':'width: 98%;'}}">
    </table>
    <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: vendorPagingDatasource, pageSize: 15}">
    </div>
    </div>
  </div>
</div>
<script type="text/html" id="view_action_hdr_vendor">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Action
    </th>
</script>
<script type="text/html" id="view_action_vendor">
    <td>
        <button id= "btn_Vendor" 
            data-bind="click: vendorLookUpClick, ojComponent: { component: 'ojButton', label: 'Select' }">
        </button>
    </td>
</script>
</div>
