<div class="page-title"><label class="white-color" data-bind="text:header"></label></div>
<div class="oj-form-layout page-content" id="form-container">

    <h3 class="oj-header-border">Published Rate</h3>
    <div class="page-content oj-flex oj-form-layout oj-sm-only-flex-direction-column oj-lg-flex-items-1">                      
    <div class="oj-flex-item">
      <div class="oj-form  oj-sm-odd-cols-12 oj-lg-odd-cols-1 oj-lg-even-cols-2 oj-lg-labels-inline">   
        <div class="oj-flex">
            <div class="oj-flex-item">
                <div class="oj-label oj-component oj-inputdate-label" style="text-align:left;">
                    <div class="oj-label-group">
                        <label for="prDate">Date</label>
                    </div>
                </div>
            </div>
            <div class="oj-flex-item">
                <input id="prDate"
                       data-bind="ojComponent: {component: 'ojInputDate', value: prDate}"/>
            </div>
        </div>
        <div class="oj-flex"> 
            <div>
                <button id= "button"
                        data-bind="click: onClickSearch, 
                            ojComponent: {component: 'ojButton', label: 'Search' }">
                </button>
                <button id= "button"
                        data-bind="click: onClickReset, 
                            ojComponent: {component: 'ojButton', label: 'Reset' }">
                </button>
            </div>
        </div>
      </div>
    </div>                               
  </div>
<br>
<br>
  <div class="oj-flex page-content"> 
    <div class="oj-flex-item">
        <button id= "button"
                data-bind="click: onClickUpload, 
                    ojComponent: {component: 'ojButton', label: 'Upload' }">
        </button>
        <button id= "button"
                data-bind="click: onClickSave, 
                    ojComponent: {component: 'ojButton', label: 'Save' }">
        </button>
        <button id= "button"
                data-bind="click: onClickCancel, 
                    ojComponent: {component: 'ojButton', label: 'Cancel' }">
        </button>
    </div>
    </div>
    <div id="pagingControlDemo" class="page-content">
        <table id="table" summary="Published Rate Detail" aria-label="Published Rate Detail"
               data-bind="ojComponent: {component: 'ojTable', data: pagingDatasourcePR, columns:
                [{headerTemplate: 'startDate_hdr', template: 'startDate_item'},
                {headerTemplate: 'endDate_hdr', template: 'endDate_item'},
                {headerTemplate: 'productGroup_hdr', template: 'productGroup_item'},
                {headerTemplate: 'assetType_hdr', template: 'assetType_item'},
                {headerTemplate: 'tenure_hdr', template: 'tenure_item'},
                {headerTemplate: 'publishedRate_hdr', template: 'publishedRate_item'},
                {headerTemplate: 'margin_hdr', template: 'margin_item'},
                ],
                rootAttributes: {'style':'width: 100%;'}}">
        </table>
    </div>
</div>


<script type="text/html" id="startDate_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Effective Start Date
    </th>
</script>
<script type="text/html" id="startDate_item">
    <td>
        <input id="startDate"
                data-bind="ojComponent: {component: 'ojInputDate', value: startDate}"/>
    </td>
</script>
<script type="text/html" id="endDate_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        End Date
    </th>
</script>
<script type="text/html" id="endDate_item">
    <td>
        <input id="endDate"
                data-bind="ojComponent: {component: 'ojInputDate', value: endDate}"/>
    </td>
</script>
<script type="text/html" id="productGroup_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Product Group
    </th>
</script>
<script type="text/html" id="productGroup_item">
    <td>
        <input id="productGroup" style="border:1px solid #dfe4e7 !important; "
               data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : productGroup,
                                rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>
<script type="text/html" id="assetType_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Asset Type
    </th>
</script>
<script type="text/html" id="assetType_item">
    <td>
        <input id="assetType" style="border:1px solid #dfe4e7 !important; "
               data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : assetType,
                                rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>
<script type="text/html" id="tenure_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Tenure
    </th>
</script>
<script type="text/html" id="tenure_item">
    <td>
        <input id="tenure" style="border:1px solid #dfe4e7 !important; "
               data-bind="ojComponent: {component: 'ojCombobox', value:'Please Select', options : tenure,
                                rootAttributes: {style:'max-width:20em'}}">
    </td>
</script>
<script type="text/html" id="publishedRate_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Published Rate
    </th>
</script>
<script type="text/html" id="publishedRate_item">
    <td>
        <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'', required: false}">
    </td>
</script>

<script type="text/html" id="margin_hdr">
    <th style="padding-left: 5px; padding-right: 5px;text-align:center;">
        Margin
    </th>
</script>
<script type="text/html" id="margin_item">
    <td>
        <input id="rate1" style="border-width:1px;"
                   data-bind="ojComponent: {component: 'ojInputText', 
                                            value:'', required: false}">
    </td>
</script>
